<div class="modal fade" id="editSubTarea" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Modificar condici&oacute;n</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="sub_tareas_nombre">Nombre de la condici&oacute;n</label>
                    <input required type="text" class="form-control" id="sub_tareas_nombre" name="sub_tareas_nombre" v-model="sub_tareas_nombre" >
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" v-on:click="modificarSubTarea">Guardar</button>
            </div>
        </div>
    </div>
</div>

