﻿@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "PASO Esmax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" style="margin-top: 1%">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#" id="odt" v-on:click="SelectTarget('odt')">
                            <div class="card-counter primary">
                                <i id="icon" class="fa fa-chart-pie"></i>
                                <span class="count-numbers">ODT</span>
                                <span class="subTitle">Observaciones de trabajo</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#" id="rsms" v-on:click="SelectTarget('rsms')">
                            <div class="card-counter danger" style="background: #2DB27D">
                                <i  id="icon" class="fa fa-clipboard-list"></i>
                                <span class="count-numbers">RSMS</span>
                                <span class="subTitle2">Reportes de seguridad, medio ambiente y salud</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#" id="chkl" v-on:click="SelectTarget('chkl')">
                            <div class="card-counter" style="background: #C6CB4F">
                                <i id="icon" class="fa fa-list"></i>
                                <span class="count-numbers" style="color: white">Check List</span>
                                <span class="subTitle2 text-right" style="color: white">Listados de control y chequeo</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#" id="rta" v-on:click="SelectTarget('rta')">
                            <div class="card-counter" style="background: #584FCB">
                                <i id="icon" class="fa fa-clone"></i>
                                <span class="count-numbers" style="color: white">RTA</span>
                                <span class="subTitle2 text-right" style="color: white">Reportes de Anomalía</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#" id="kpi" v-on:click="SelectTarget('kpi')">
                            <div class="card-counter success">
                                <i id="icon" class="fa fa-database"></i>
                                <span class="count-numbers">KPIS</span>
                                <span class="subTitle3 text-left">Indicador clave de rendimiento</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#" id="pa" v-on:click="SelectTarget('pa')">
                            <div class="card-counter info">
                                <i id="icon" class="fa fa-calendar-check"></i>
                                <span class="count-numbers">Plan de <br>acci&oacute;n</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#" id="ca" v-on:click="SelectTarget('ca')">
                            <div class="card-counter danger">
                                <i id="icon" class="fa fa-bookmark"></i>
                                <span class="count-numbers">Capacitaci&oacute;n</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                <div class="container d-none" id="tb_odt">
                    <div class="row mb-5">
                        <div class="card shadow-sm col-lg-11 p-0 mt-3">
                            <div class="card-header">
                                <h3 style="text-align: center">Resumen de Observaciones de Trabajo</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped" style="border: none">
                                    <tbody>
                                    <tr>
                                        <td><strong>Cantidad de ODTs habilitadas </strong></td>
                                        <td>{{odtHabilitadas}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Cantidad de ODTs deshabilitadas </strong></td>
                                        <td>{{odtDeshabilitadas}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>ODTs respondidas por Esmax Distribución </strong></td>
                                        <td>{{odtDist}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>ODTs respondidas por Esmax Red </strong></td>
                                        <td>{{odtRed}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>ODTs respondidas por Esmax Industrial </strong></td>
                                        <td>{{odtInd}}</td>
                                    </tr>
                                    <tr class="table table-primary">
                                        <td><strong>Total ODTs respondidas </strong></td>
                                        <td>{{totalResp}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <hr/>
                                <a href="@Url.Action("ingresarOdt", "Odts")" class="btn btn-block btn-primary">Ir a ODT</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container d-none" id="tb_ca">
                    <div class="row mb-5">
                        <div class="card shadow-sm col-lg-11 p-0 mt-3">
                            <div class="card-header">
                                <h3 style="text-align: center">Resumen de Observaciones de Trabajo</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped" style="border: none">
                                    <tbody>
                                    <tr>
                                        <td><strong>Cantidad de TESTs habilitados </strong></td>
                                        <td>{{capHabilitados}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Cantidad de TESTs deshabilitados </strong></td>
                                        <td>{{capDeshabilitados}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Porcentaje de aprobaci&oacute;n </strong></td>
                                        <td>{{capPorcentaje}} %</td>
                                    </tr>
                                    <tr>
                                        <td><strong>TESTs aprobados </strong></td>
                                        <td>{{capAprobados}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>TESTs reprobados </strong></td>
                                        <td>{{capReprobados}}</td>
                                    </tr>
                                    <tr class="table table-primary">
                                        <td><strong>Total TESTs respondidos </strong></td>
                                        <td>{{capResultados}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <hr/>
                                <a href="@Url.Action("Index", "Capacitacion")" class="btn btn-block btn-danger">Ir a Capacitaciones</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="container d-none" id="tb_rsms">
                        <div class="row mb-5">
                            <div class="card shadow-sm col-lg-11 p-0 mt-3">
                                <div class="card-header">
                                    <h3 style="text-align: center">Resumen Reportes Seguridad, Medio Ambiente y Salud</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped" style="border: none">
                                        <tbody>
                                            <tr>
                                                <td><strong>Reportes generados por Esmax Distribución </strong></td>
                                                <td>{{rptDist}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Reportes generados por Esmax Red </strong></td>
                                                <td>{{rptRed}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Reportes generados por Esmax Industrial </strong></td>
                                                <td>{{rptInd}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Total reportes generados </strong></td>
                                                <td>{{totalRsms}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Reportes con criticidad Leve </strong></td>
                                                <td>{{rptLeve}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Reportes con criticidad Moderado </strong></td>
                                                <td>{{rptModerado}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Reportes con criticidad Inaceptable </strong></td>
                                            <td>{{rptInaceptable}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <hr/>
                                    <a href="@Url.Action("IngresarRSMS", "RSMS")" class="btn btn-block btn-success">Ir a RSMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container d-none" id="tb_chkl">
                        <div class="row mb-5">
                            <div class="card shadow-sm col-lg-11 p-0 mt-3">
                                <div class="card-header">
                                    <h3 style="text-align: center">Resumen Check List</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped" style="border: none">
                                        <tbody>
                                            <tr>
                                                <td><strong>Check List respondidos </strong></td>
                                                <td>{{chklRespondidos}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Promedio aprobación Esmax distribución </strong></td>
                                                <td>{{avgDist}}%</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Promedio aprobación Esmax Red </strong></td>
                                                <td>{{avgRed}}%</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Promedio aprobación Esmax Industrial </strong></td>
                                                <td>{{avgInd}}%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <hr/>
                                    <a href="@Url.Action("IngresarCheckList", "CheckList")" style="background: #AFB446; color: white" class="btn btn-block">Ir a Check List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container d-none" id="tb_rta">
                        <div class="row mb-5">
                            <div class="card shadow-sm col-lg-11 p-0 mt-3">
                                <div class="card-header">
                                    <h3 style="text-align: center">Resumen de Reportes de Anomalía</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped" style="border: none">
                                        <tbody>
                                        <tr>
                                            <td><strong>Reportes en estado Reportado </strong></td>
                                            <td>{{rtaReportado}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Reportes en estado Investigado </strong></td>
                                            <td>{{rtaInvestigado}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Reportes en estado En aprobación </strong></td>
                                            <td>{{rtaAprobacion}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Reportes en estado Aprobado </strong></td>
                                            <td>{{rtaAprobado}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Reportes en estado Costos asignados </strong></td>
                                            <td>{{rtaAsignados}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Reportes en estado Cerrado con tratamiento eficaz </strong></td>
                                            <td>{{rtaEficaz}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Reportes en estado Cerrado con tratamiento ineficaz </strong></td>
                                            <td>{{rtaIneficaz}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Gastos destinados utilizados por RTA </strong></td>
                                            <td>${{gastosPasados}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Gastos a utilizar por RTA </strong></td>
                                            <td>${{gastosFuturos}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <hr/>
                                    <a href="@Url.Action("CrearRTA", "RTA")" class="btn btn-block" style="background: #584FCB; color: white">Ir a RTA</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container d-none" id="tb_kpis">
                        <div class="row mb-5">
                            <div class="card shadow-sm col-lg-11 p-0 mt-3">
                                <div class="card-header">
                                    <h3 style="text-align: center">Resumen Indicadores Clave de Rendimiento</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped" style="border: none">
                                        <tbody>
                                        <tr>
                                            <td><strong>En construcción... </strong></td>
                                            <td>{{abiertos}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>En construcción... </strong></td>
                                            <td>{{cerrados}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>En construcción... </strong></td>
                                            <td>{{odt}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>En construcción... </strong></td>
                                            <td>{{rsms}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>En construcción... </strong></td>
                                            <td>{{chkl}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>En construcción... </strong></td>
                                            <td>{{pa}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>En construcción... </strong></td>
                                            <td>{{rta}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <hr/>
                                    <a href="@Url.Action("IngresarCheckList", "CheckList")" class="btn btn-block btn-success">Ir a KPIS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="container d-none" id="tb_pa">
                    <div class="row mb-5">
                        <div class="card shadow-sm col-lg-11 p-0 mt-3">
                            <div class="card-header">
                                <h3 style="text-align: center">Resumen Plan de Acción</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped" style="border: none">
                                    <tbody>
                                    <tr>
                                        <td class="table-danger"><strong>Planes de Acción abiertos: </strong></td>
                                        <td class="table-danger">{{abiertos}}</td>
                                    </tr>
                                    <tr>
                                        <td class="table-success"><strong>Planes de Acción cerrados: </strong></td>
                                        <td class="table-success">{{cerrados}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Planes de Acción generados por ODT: </strong></td>
                                        <td>{{odt}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Planes de Acción generados por RSMS: </strong></td>
                                        <td>{{rsms}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Planes de Acción generados por CheckList: </strong></td>
                                        <td>{{chkl}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Planes de Acción generados por Plan de Acción: </strong></td>
                                        <td>{{pa}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Planes de Acción generados por Reportes de Anomalía: </strong></td>
                                        <td>{{rta}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <hr/>
                                <a href="@Url.Action("ingresarPlanAccion", "MplanAccion")" class="btn btn-block" style="background: #26C6DA; color: white" >Ir a Plan de Acción</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container d-none" id="tb_ca">
                    <div class="row mb-5">
                        <div class="card shadow-sm col-lg-11 p-0 mt-3">
                            <div class="card-header">
                                <h3 style="text-align: center">Resumen Plan de Acción</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped" style="border: none">
                                    <tbody>
                                    <tr>
                                        <td class="table-danger"><strong>Planes de Acción abiertos: </strong></td>
                                        <td class="table-danger">{{abiertos}}</td>
                                    </tr>
                                    <tr>
                                        <td class="table-success"><strong>Planes de Acción cerrados: </strong></td>
                                        <td class="table-success">{{cerrados}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Planes de Acción generados por ODT: </strong></td>
                                        <td>{{odt}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Planes de Acción generados por RSMS: </strong></td>
                                        <td>{{rsms}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Planes de Acción generados por CheckList: </strong></td>
                                        <td>{{chkl}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Planes de Acción generados por Plan de Acción: </strong></td>
                                        <td>{{pa}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Planes de Acción generados por Reportes de Anomalía: </strong></td>
                                        <td>{{rta}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <hr/>
                                <a href="@Url.Action("Index", "Capacitacion")" class="btn btn-block" style="background: #26C6DA; color: white" >Ir a Capacitaciones</a>
                            </div>
                        </div>
                    </div>
                </div>
                    
                </div>
            </div>
            
        </div>
    </div>
  
@section scripts{
    <script>

        var rev = new Vue({
            el:'#app',
            data() {
                return {
                    planAccion: [],
                    folio: null,
                    modulo: null,
                    user: null,
                    users: [],
                    userid: '@User.Identity.GetUserId()',

                    datos: [],
                    cerrados: 0,
                    abiertos: 0,
                    odt: 0,
                    rsms: 0,
                    pa: 0,
                    chkl: 0,
                    rta: 0,

                    RSMSdatos: [],
                    rptDist: 0,
                    rptRed: 0,
                    rptInd: 0,
                    totalRsms: 0,
                    rptLeve: 0,
                    rptModerado: 0,
                    rptInaceptable: 0,

                    CHKLdatos: [],
                    chklRespondidos: 0,
                    avgDist: 0,
                    avgRed: 0,
                    avgInd: 0,

                    ODTdatos: [],
                    odtHabilitadas: 0,
                    odtDeshabilitadas: 0,
                    odtDist: 0,
                    odtRed: 0,
                    odtInd: 0,
                    totalResp: 0,
                    
                    CAPdatos:[],
                    capHabilitados:0,
                    capDeshabilitados:0,
                    capResultados:0,
                    capAprobados:0,
                    capReprobados:0,
                    capPorcentaje:0,

                    RTAdatos: [],
                    rtaReportado: 0,
                    rtaInvestigado: 0,
                    rtaAprobado: 0,
                    rtaAprobacion: 0,
                    rtaAsignados: 0,
                    rtaEficaz: 0,
                    rtaIneficaz: 0,
                    gastosPasados: 0,
                    gastosFuturos: 0,
                    
                    
            }
            },
            created() {
                this.datosRSMS();
                this.datosCHKL();
                this.datosODT();
                this.datosPA();
                this.datosRTA();
                this.datosCA();
                
                this.getUser();
                //this.getUsers();
            },
            methods: {
                SelectTarget(mod) {
                    
                    if (mod === "pa") {
                        $('#tb_odt').addClass("d-none");
                        $('#tb_rsms').addClass("d-none");
                        $('#tb_chkl').addClass("d-none");
                        $('#tb_rta').addClass("d-none");
                        $('#tb_kpis').addClass("d-none");
                        $('#tb_pa').removeClass("d-none");
                        $('#tb_ca').addClass("d-none");
                        this.datosPA();
                    }
                    
                    if (mod === "odt") {
                        $('#tb_odt').removeClass("d-none");
                        $('#tb_rsms').addClass("d-none");
                        $('#tb_chkl').addClass("d-none");
                        $('#tb_rta').addClass("d-none");
                        $('#tb_kpis').addClass("d-none");
                        $('#tb_pa').addClass("d-none");
                        $('#tb_ca').addClass("d-none");
                        this.datosODT();

                    }
                    if (mod === "rsms") {
                        $('#tb_odt').addClass("d-none");
                        $('#tb_rsms').removeClass("d-none");
                        $('#tb_chkl').addClass("d-none");
                        $('#tb_rta').addClass("d-none");
                        $('#tb_kpis').addClass("d-none");
                        $('#tb_pa').addClass("d-none");
                        $('#tb_ca').addClass("d-none");
                        this.datosRSMS();
                    }
                    if (mod === "chkl") {
                        $('#tb_odt').addClass("d-none");
                        $('#tb_rsms').addClass("d-none");
                        $('#tb_chkl').removeClass("d-none");
                        $('#tb_rta').addClass("d-none");
                        $('#tb_kpis').addClass("d-none");
                        $('#tb_pa').addClass("d-none");
                        $('#tb_ca').addClass("d-none");
                        this.datosCHKL();
                    }
                    if (mod === "kpi") {
                        $('#tb_odt').addClass("d-none");
                        $('#tb_rsms').addClass("d-none");
                        $('#tb_chkl').addClass("d-none");
                        $('#tb_rta').addClass("d-none");
                        $('#tb_kpis').removeClass("d-none");
                        $('#tb_pa').addClass("d-none");
                        $('#tb_ca').addClass("d-none");
                    }
                    if (mod === "rta") {
                        $('#tb_odt').addClass("d-none");
                        $('#tb_rsms').addClass("d-none");
                        $('#tb_chkl').addClass("d-none");
                        $('#tb_rta').removeClass("d-none");
                        $('#tb_kpis').addClass("d-none");
                        $('#tb_pa').addClass("d-none");
                        $('#tb_ca').addClass("d-none");
                        this.datosRTA();
                    }
                    if (mod === "ca") {
                        $('#tb_odt').addClass("d-none");
                        $('#tb_rsms').addClass("d-none");
                        $('#tb_chkl').addClass("d-none");
                        $('#tb_rta').addClass("d-none");
                        $('#tb_kpis').addClass("d-none");
                        $('#tb_pa').addClass("d-none");
                        $('#tb_ca').removeClass("d-none");
                        this.datosCA();
                    }

                },
                datosRTA() {
                    var context = this;
                    var url = '@Url.Action("RtaResumen", "Home")';
                    var data = {
                        id: this.userId
                    }
                    
                    axios.post(url, data).then(response => {
                        context.RTAdatos = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                    
                    context.rtaReportado = context.RTAdatos[0];
                    context.rtaInvestigado = context.RTAdatos[1];
                    context.rtaAprobacion = context.RTAdatos[2];
                    context.rtaAprobado = context.RTAdatos[3];
                    context.rtaAsignados = context.RTAdatos[4];
                    context.rtaEficaz = context.RTAdatos[5];
                    context.rtaIneficaz = context.RTAdatos[6];
                    context.gastosPasados = context.RTAdatos[7];
                    context.gastosFuturos = context.RTAdatos[8];

                    console.log(context.RTAdatos);
                },
                datosCHKL() {
                    var context = this;
                    var url = '@Url.Action("ChklResumen", "Home")';
                    var data = {
                        id: this.userId
                    }

                    axios.post(url, data).then(response => {
                        context.CHKLdatos = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    });

                    context.chklRespondidos = context.CHKLdatos[0];
                    context.avgDist = context.CHKLdatos[1];
                    context.avgRed = context.CHKLdatos[2];
                    context.avgInd = context.CHKLdatos[3];

                    if (context.chklRespondidos === undefined) {
                        context.chklRespondidos = 0;
                    }
                    if (context.avgDist === undefined) {
                        context.avgDist = 0;
                    }
                    if (context.avgRed === undefined) {
                        context.avgRed = 0;
                    }
                    if (context.avgInd === undefined) {
                        context.avgInd = 0;
                    }
                    console.log(context.CHKLdatos);
                },
                datosODT() {
                    var context = this;
                    var url = '@Url.Action("OdtResumen", "Home")';
                    var data = {
                        id: this.userId
                    }
                    axios.post(url, data).then(response => {
                        context.ODTdatos = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    });

                    context.odtHabilitadas = context.ODTdatos[0];
                    context.odtDeshabilitadas = context.ODTdatos[1];
                    context.odtDist = context.ODTdatos[2];
                    context.odtRed = context.ODTdatos[3];
                    context.odtInd = context.ODTdatos[4];
                    context.totalResp = context.ODTdatos[5];
                    
                    console.log(context.ODTdatos);
                },
                datosRSMS() {
                    var context = this;
                    var url = '@Url.Action("RsmsHolding", "Home")';
                    var data = {
                        id: this.userid
                    }

                    axios.post(url, data).then(response => {
                        context.RSMSdatos = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    });

                    context.rptDist = context.RSMSdatos[0];
                    context.rptRed = context.RSMSdatos[1];
                    context.rptInd = context.RSMSdatos[2];
                    context.totalRsms = context.RSMSdatos[3];
                    context.rptLeve = context.RSMSdatos[4];
                    context.rptModerado = context.RSMSdatos[5];
                    context.rptInaceptable = context.RSMSdatos[6];

                    console.log(context.datos);

                },
                datosPA() {
                    var context = this;
                    var url = '@Url.Action("GetResumen", "Home")';
                    var data = {
                        id: this.userid
                    }
                    console.log(data);
                    axios.post(url, data).then(response => {
                        context.datos = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    });

                    context.cerrados = context.datos[0];
                    context.abiertos = context.datos[1];
                    context.odt = context.datos[2];
                    context.rsms = context.datos[3];
                    context.pa = context.datos[4];
                    context.chkl = context.datos[5];
                    context.rta = context.datos[6];

                    console.log(context.datos);

                },
                datosCA(){
                    var context = this;
                    var url = '@Url.Action("CapResumen", "Home")';
                    var data = {
                        id: this.userid
                    }
                    axios.post(url, data).then(response => {
                        context.CAPdatos = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                    
                    
                    context.capHabilitados = context.CAPdatos[0];
                    context.capDeshabilitados = context.CAPdatos[1];
                    context.capResultados = context.CAPdatos[2];
                    context.capAprobados = context.CAPdatos[3];
                    context.capReprobados = context.CAPdatos[4];
                    context.capPorcentaje = context.CAPdatos[5];
                    
                    console.log(context.CAPdatos);
                    
                },
                getUser() {
                    var urlUser = '@Url.Action("getUser", "User")';

                    var data = {
                        id: '@User.Identity.GetUserId()'
                    }

                    axios.post(urlUser, data).then(response => {
                        this.user = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },

                getModulo() {
                    var select = document.getElementById("moduloList");
                    var cId = select.options[select.selectedIndex].id;
                    if (cId === 0) {
                        this.modulo = "0";
                    } else {
                        this.modulo = cId;
                    }
                },
                getPA() {

                    var fechaIni = $('#startDate111').val();
                    var fechafin = $('#endDate111').val();
                    var folio = this.folio;
                    var modulo = this.modulo;
                    var query = "Where ";

                    if (fechaIni !== "") {
                        query += "cumplimiento >= '" + fechaIni + "' ";
                        if (fechafin !== "") {
                            query += "and cumplimiento <= '" + fechafin + "' ";
                        }
                    }

                    if (modulo !== null && modulo !== "0") {
                        if (query !== "Where ") {
                            query += "and modulo = '" + modulo + "' ";
                        } else {
                            query += "modulo = '" + modulo + "' ";
                        }
                    }

                    if (folio !== null && folio !== "0" && folio !== "") {
                        if (query !== "Where ") {
                            query += "and plan_accion_id = '" + folio + "' ";
                        } else {
                            query += "plan_accion_id = '" + folio + "' ";
                        }
                    }

                    var data = {
                        query: query
                    }

                    if (query === "Where ") {
                        this.getPASinQuery();
                    } else {
                        this.getPAConQuery(data);
                    }


                },
                getPASinQuery() {
                    var url = '@Url.Action("allPlanAccionMoreUser", "MplanAccion")';
                    axios.get(url).then(response => {
                        this.planAccion = response.data;

                        console.log("lista");
                        console.log(this.planAccion);
                        this.getTable();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getPAConQuery(data) {
                    var url = '@Url.Action("allPlanAccionWithQueryMoreUser", "MplanAccion")';
                    axios.post(url, data).then(response => {
                        this.planAccion = response.data;
                        //this.planAccion.sort();
                        console.log("lista");
                        console.log(this.planAccion);
                        this.getTable();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                formatDate(date) {
                    var fecha = date,
                        patron = "/Date(",
                        valor = "",
                        nuevo = fecha.replace(patron, valor),
                        patron2 = ")/",
                        valor2 = "",
                        nuevo2 = nuevo.replace(patron2, valor2);
                    console.log(nuevo2);
                    var int = parseInt(nuevo2);
                    var d = new Date(int);
                    var monthNames = [
                        "Enero", "Febrero", "Marzo",
                        "Abril", "Mayo", "Junio", "Julio",
                        "Agosto", "Septiembre", "Octubre",
                        "Noviembre", "Diciembre"
                    ];
                    var day = d.getDate();
                    var monthIndex = d.getMonth();
                    var year = d.getFullYear();

                    return day + '/' + monthNames[monthIndex] + '/' + year;

                },
                getTable() {

                    $('#revisarPA').DataTable().clear().draw();
                    $('#revisarPA').DataTable().destroy();
                    var tabla = $('#revisarPA').DataTable({
                        language: {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ning&uacute;n dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        }
                    });
                    //var cat = this.categorias;

                    //tabla.destroy();
                    var context = this;

                    this.planAccion.map(function(o) {


                            var modulo = "";

                            if (o.modulo === 1) {
                                modulo = "ODT";
                            }else if (o.modulo === 3) {
                                modulo = "Plan de accion";
                            }else if (o.modulo === 2) {
                                modulo = "RSMS";
                            }
                            if (o.estado === "habilitado") {
                                tabla.row.add([
                                    o.plan_accion_id,
                                    o.accion,
                                    modulo,
                                    context.formatDate(o.cumplimiento),
                                    o.estado.toUpperCase(),
                                    o.UserName,
                                    '<a href="@Url.Action("ver","MplanAccion")/'+ o.plan_accion_id +'"><button class="btn btn-block btn-outline-primary" ><i class="fa fa-eye"></i></button></a>'
                                ]);
                            }else if (o.estado === "cerrado") {
                                tabla.row.add([
                                    o.plan_accion_id,
                                    o.accion,
                                    modulo,
                                    o.UserName,
                                    context.formatDate(o.cumplimiento),
                                    o.estado.toUpperCase(),
                                    '<a href="@Url.Action("verCerrado","MplanAccion")/'+ o.plan_accion_id +'"><button class="btn btn-block btn-outline-primary" ><i class="fa fa-eye"></i></button></a>'
                                ]);
                            }




                    });

                    tabla.draw();
                },
            }
        })

    </script>
}





