@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Graficos CHECK LIST";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-11 mb-3">
            
            <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("ingresarCheckList", "CheckList")">
                <i class="fa fa-plus fa-2x mr-2"></i> Ingresar Check List
            </a>
            <a class="btn btn-secondary" style="font-size: 75%;" v-if="user.Rol === 'Administrador'" href="@Url.Action("CrearCheckList", "CheckList")">
                <i class="fa fa-edit fa-2x mr-2"></i> Crear Check List
            </a>
            <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("listRespuestas", "CheckList")">
                <i class="fa fa-list-ul fa-2x mr-2"></i> Revisar Check List
            </a>
            <a class="btn btn-info"style="font-size: 100%;" href="@Url.Action("graficossCheckList", "CheckList")">
                <i class="fa fa-chart-line fa-2x mr-2"></i> Gr&aacute;ficas Check List
            </a>
        </div>

        <div class="col-lg-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row mb-5">
                        <div class="col-lg-4">
                            <input id="startDate" autocomplete="off" placeholder="Desde"/>
                        </div>
                        <div class="col-lg-4">
                            <input id="endDate" autocomplete="off" placeholder="Hasta"/>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-primary btn-block" v-on:click="getRespuesta">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12 mt-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">Check List respondidas</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvas1" class="card-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">Holdings respondidas</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvas4" class="card-body">
                    <canvas id="myChart4"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">Areas de negocio respondidas</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvas5" class="card-body">
                    <canvas id="myChart5"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">Gerencias respondidas</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvas3" class="card-body">
                    <canvas id="myChart3"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">Areas respondidas</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvas6" class="card-body">
                    <canvas id="myChart6"></canvas>
                </div>
            </div>
        </div>
        
        <div class="col-lg-12">
            <div class="card shadow-sm mt-5 mb-5">
                <h5 class="text-center mt-2">Usuarios que responden</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div class="card-body">
                    <table id="tablauser" class="table table-hover">
                        <thead>
                        <tr>
                            <th style="width: 50%">Nombre de Usuario</th>
                            <th style="width: 50%">Total de CheckList respondidas</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/assets/js/jquery.zoom.js"></script>

            

    <script>
        $(document).ready(function(){
            $('#img').zoom();
        });
        
        var graficos = new Vue({
            el: '#app',
            data() {
                return {
                    respuesta: [],
                    odts: [],
                    respuestaCausa: [],
                    respuestaGerencia: [],
                    respuestaOdt: [],
                    respuestaNegocio: [],
                    respuestaHolding: [],
                    respuestaArea: [],
                    user: null,
                    usuarios: [],
                }
            },
            created() {
                this.getUser();
            },
            methods: {
                getUser() {
                    var urlUser = '@Url.Action("getUser", "User")';

                    var data = {
                        id: '@User.Identity.GetUserId()'
                    }

                    axios.post(urlUser, data).then(response => {
                        this.user = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getRespuesta() {
                    
                    var desde = new Date($('#startDate').val());
                    var hasta = new Date($('#endDate').val());
                    
                    var data = {
                        desde: desde,
                        hasta: hasta
                    };

                    this.getOdtRespuesta(data);
                    this.getRespuestaGerencia(data);
                    this.getRespuestaHolding(data);
                    this.getRespuestaNegocio(data);
                    this.getRespuestaArea(data);
                    this.getUsuariosResponden(data);
                    
                },
                getOdtRespuesta(data) {
                    var url = '@Url.Action("getCheckListFecha", "CheckList")';
                    
                    axios.post(url, data).then(response => {
                        this.respuestaOdt = response.data;
                        
                        var label = [];
                        var count = [];
                        var colores = ['#2496D4', '#3AB54A', '#245CA9', '#25AFAF'];
                        var coloresBarra = [];
                        var i = 0;
                        this.respuestaOdt.map(function(data) {
                            label.push(data.nombre);
                            count.push(data.total);
                            coloresBarra.push(colores[i]);
                            i += 1;
                            if (i >= colores.length ) {
                                i = 0;
                            }
                        })
                        
                        this.getGraphic("myChart", "canvas1", label, count, "bar", "Chkl mas respondidos", coloresBarra);
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getUsuariosResponden(data) {
                    var url = '@Url.Action("getUsuariosResponden", "CheckList")';
                   
                    axios.post(url, data).then(response => {
                        this.usuarios = response.data;
                        this.getTable();
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getTable() {
                    $('#tablauser').DataTable().clear().draw();
                    $('#tablauser').DataTable().destroy();
                    var tabla = $('#tablauser').DataTable({
                        language: {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningun dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de MAX registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        }
                    });

                    this.usuarios.map(function(u) {
                       
                        tabla.row.add([
                            u.nombre,
                            u.total,
                        ]);
                    });
                    tabla.draw();
                },
                getRespuestaHolding(data) {
                    var url = '@Url.Action("getRespuestaHolding", "CheckList")';
                    
                    axios.post(url, data).then(response => {
                        this.respuestaHolding = response.data;
                        
                        var label = [];
                        var count = [];
                        var colores = ['#2496D4', '#3AB54A', '#245CA9', '#25AFAF'];
                        var coloresBarra = [];
                        var i = 0;
                    
                        this.respuestaHolding.map(function(data) {
                            label.push(data.nombre);
                            count.push(data.total);
                            coloresBarra.push(colores[i]);
                            i += 1;
                            if (i >= colores.length ) {
                                i = 0;
                            }
                        })
                        this.getGraphic("myChart4", "canvas4", label, count, "bar", "Holding que responden", coloresBarra);
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getRespuestaNegocio(data) {
                    var url = '@Url.Action("getRespuestaNegocio", "CheckList")';
                    
                    axios.post(url, data).then(response => {
                        this.respuestaNegocio = response.data;
                        
                        var label = [];
                        var count = [];
                        var colores = ['#2496D4', '#3AB54A', '#245CA9', '#25AFAF'];
                        var coloresBarra = [];
                        var i = 0;
                    
                        this.respuestaNegocio.map(function(data) {
                            label.push(data.nombre);
                            count.push(data.total);
                            coloresBarra.push(colores[i]);
                            i += 1;
                            if (i >= colores.length ) {
                                i = 0;
                            }
                        })
                        this.getGraphic("myChart5", "canvas5", label, count, "bar", "Areas de negocios que responden", coloresBarra);
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getRespuestaGerencia(data) {
                    var url = '@Url.Action("getRespuestaGerencia", "CheckList")';
                   
                    axios.post(url, data).then(response => {
                        this.respuestaGerencia = response.data;

                        var label = [];
                        var count = [];
                        var colores = ['#2496D4', '#3AB54A', '#245CA9', '#25AFAF'];
                        var coloresBarra = [];
                        var i = 0;
                    
                        this.respuestaGerencia.map(function(data) {
                            label.push(data.nombre);
                            count.push(data.total);
                            coloresBarra.push(colores[i]);
                            i += 1;
                            if (i >= colores.length ) {
                                i = 0;
                            }
                        })
                        
                        this.getGraphic("myChart3", "canvas3", label, count, "bar", "Gerencias que responden", coloresBarra);
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
                getRespuestaArea(data) {
                    var url = '@Url.Action("getRespuestaArea", "CheckList")';
                   
                    axios.post(url, data).then(response => {
                        this.respuestaArea = response.data;

                        var label = [];
                        var count = [];
                        var colores = ['#2496D4', '#3AB54A', '#245CA9', '#25AFAF'];
                        var coloresBarra = [];
                        var i = 0;
                    
                        this.respuestaArea.map(function(data) {
                            label.push(data.nombre);
                            count.push(data.total);
                            coloresBarra.push(colores[i]);
                            i += 1;
                            if (i >= colores.length ) {
                                i = 0;
                            }
                        })
                        
                        this.getGraphic("myChart6", "canvas6", label, count, "bar", "Areas que responden", coloresBarra);
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
                getGraphic(id, idCanvas, label, count, tipo, titulo, coloresBarra) {
                    
                    $('#' + id).remove();

                    $('#' + idCanvas).append('<canvas id="' + id + '"></canvas>');
                    
                    var ctx = document.getElementById('' + id);
                    
                   
                    var myChart = new Chart(ctx,
                        {
                            type: '' + tipo,
                            data: {
                                labels: label,
                                datasets: [
                                    {
                                        label: '' + titulo,
                                        data: count,
                                        backgroundColor: coloresBarra,
                                        borderWidth: 1
                                    }
                                ]
                            },
                            options: {
                                tooltips: {
                                   
                                },
                                scales: {
                                    yAxes: [
                                        {
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }
                                    ]
                                }
                            }
                        });
                    myChart.update();
                },
            },
            updated() {
                $('#startDate').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    maxDate: function () {
                        return $('#endDate').val();
                    }
                });
                $('#endDate').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    minDate: function () {
                        return $('#startDate').val();
                    }
                });
            }
        })

    </script>
}
