@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Ingresar Check List";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-11 col-sm-offset-2">
            <div style="padding-left: 15px;" class="mb-3">
                <a class="btn btn-info" style="font-size: 100%;" href="@Url.Action("ingresarCheckList", "CheckList")">
                    <i class="fa fa-plus fa-2x mr-2"></i> Ingresar Check List
                </a>
                <a v-if="user.Rol==='Administrador'" class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("CrearCheckList", "CheckList")">
                    <i class="fa fa-edit fa-2x mr-2"></i> Crear Check List
                </a>
                <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("listRespuestas", "CheckList")">
                    <i class="fa fa-list-ul fa-2x mr-2"></i> Revisar Check List
                </a>
                <a class="btn btn-secondary"style="font-size: 75%;" href="@Url.Action("graficossCheckList", "CheckList")">
                    <i class="fa fa-chart-line fa-2x mr-2"></i> Gr&aacute;ficas Check List
                </a>
            </div>
            <div class="card col-lg-12 pt-0">
                <div class="card-header mt-0">
                    <div class="row mt-2">
                        <div class="form-group m-0 col-lg-4 col-md-12">
                            <label class="text-dark" for="categoriaList">Seleccione una categor&iacute;a</label>
                            <select v-on:change="getCategoria" class="form-control" id="categoriaList">
                                <option id="0">Todas las categorias</option>
                                <option v-for="categoria in categorias" :id="categoria.categorias_id">{{ categoria.categorias_nombre }}</option>
                            </select>
                        </div>
                        <div class="form-group m-0 col-lg-4 col-md-12">
                        </div>
                        <div class="col-lg-4">
                            <button v-on:click="getCheckList" class="form-group btn btn-primary btn-block"><i class="fa fa-search"></i> Buscar</button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <table id="example" class="table mt-5 table-responsive">
                        <thead>
                        <tr>
                            <th>Identificador</th>
                            <th style="width: 50%">Nombre</th>
                            <th style="width: 20%">Categor&iacute;a</th>
                            @* <th style="width: 15%">Tipo</th> *@
                            <th style="width: 30%">Acciones</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/jquery.dataTables.min.js"></script>

    <script>


        var ert = new Vue({
            el: '#app',
            data() {
                return{
                    checkList: [],
                    categorias: [],
                    user: null,
                    categoriasA: [],
                    categorias_id: null,
                    tipo: null,
                }
            },
            created() {
                this.getCheckList();
                this.getC();
            },
            mounted() {
                
            },
            methods: {
                getCheckList() {
                    var cId = this.categorias_id;
                    var tipo = this.tipo;
                    var query = "Where ";

                    if (cId !== null && cId !== "0") {
                        if (query === "Where ") {
                            query += "categorias_id = " + cId;
                        } else {
                            query += "and categorias_id = " + cId;
                        }
                    }

                    if (tipo !== null && tipo !== "2") {
                        if (query === "Where ") {
                            query += "PlanAccion = " + tipo;
                        } else {
                            query += "and PlanAccion = " + tipo;
                        }
                    }
                    console.log("QUERY");
                    console.log(query);
                    
                    if (query === "Where ") {
                        var urlCheckList = '@Url.Action("getCheckList", "CheckList")';
                        axios.get(urlCheckList).then(response => {
                            this.checkList = response.data;
                            console.log("checkList");
                            console.log(this.checkList);
                            this.getUser();

                        }).catch(error => {
                            console.log("error: " + error);
                        });
                    } else {
                        var urlOdtC = '@Url.Action("findCheckListWhereCategorias", "CheckList")';
                        
                        axios.post(urlOdtC,
                            {
                                query: query
                            }).then(response => {
                            this.checkList = response.data;
                            console.log("checkList");
                            console.log(this.checkList);
                            this.getUser();

                        }).catch(error => {
                            console.log("error: " + error);
                        });
                    }
                },
                getUser() {
                    var urlUser = '@Url.Action("getUser", "User")';

                    var data = {
                        id: '@User.Identity.GetUserId()'
                    };

                    axios.post(urlUser, data).then(response => {
                        this.user = response.data;
                        this.getCategorias();

                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getTable() {

                    $('#example').DataTable().clear().draw();
                    $('#example').DataTable().destroy();
                    var tabla = $('#example').DataTable({
                        language: {
                            "sProcessing":     "Procesando...",
                            "sLengthMenu":     "Mostrar _MENU_ registros",
                            "sZeroRecords":    "No se encontraron resultados",
                            "sEmptyTable":     "Ning&uacute;n dato disponible en esta tabla",
                            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix":    "",
                            "sSearch":         "Buscar:",
                            "sUrl":            "",
                            "sInfoThousands":  ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst":    "Primero",
                                "sLast":     "Último",
                                "sNext":     "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        }
                    });
                    var cat = this.categorias;
                    if (this.user.Rol === 'Administrador') {
                        this.checkList.map(function(o) {
                            var plan = o.PlanAccion;
                            if (plan === 1) {
                                plan = "Con plan de accion";
                            } else {
                                plan = "Simple";
                            }
                            cat.map(function(c) {
                                if (c.categorias_id === o.categorias_id) {
                                    if (o.estado === 'habilitado') {
                                        tabla.row.add([
                                            o.CheckListId,
                                            o.CheckListNombre,
                                            c.categorias_nombre,
                                            //plan,
                                            '<a href="@Url.Action("responderCheckList", "CheckList")/' +
                                            o.CheckListId +
                                            '"><button class="btn btn-outline-success" style="border-radius: 50%"><i class="fa fa-check"></i></button></a><a href="@Url.Action("modificarCheckList", "CheckList")/' +
                                            o.CheckListId +
                                            '" class="ml-3"><button class="btn btn-outline-primary" style="border-radius: 50%"><i class="fa fa-edit"></i></button></a><a href="@Url.Action("deshabilitar", "CheckList")/' +
                                            o.CheckListId +
                                            '" class="ml-3"><button class="btn btn-outline-danger" style="border-radius: 50%"><i class="fa fa-times"></i></button></a>',
                                        ]);
                                    }
                                }
                            })


                        });
                    } else if (this.user.Rol === 'Gestor' || this.user.Rol === 'Observador') {
                        this.checkList.map(function(o) {
                            var plan = o.PlanAccion;
                            if (plan === 1) {
                                plan = "Con plan de accion";
                            } else {
                                plan = "Simple";
                            }
                            cat.map(function(c) {
                                if (c.categorias_id === o.categorias_id) {
                                    if (o.estado === 'habilitado') {
                                        tabla.row.add([
                                            o.CheckListId,
                                            o.CheckListNombre,
                                            c.categorias_nombre,
                                            //plan,
                                            '<a href="@Url.Action("responderCheckList", "CheckList")/' +
                                            o.CheckListId +
                                            '"><button class="btn btn-outline-success" style="border-radius: 50%"><i class="fa fa-check"></i></button></a>',
                                            '',
                                        ]);
                                    }
                                }
                            })
                        });
                    }

                    tabla.draw();

                },
                getCategorias() {
                    var urlCategorias = '@Url.Action("getCategorias", "CheckList")';


                    axios.get(urlCategorias).then(response => {
                        this.categorias = response.data;
                        console.log("categorias");
                        console.log(this.categorias);
                        this.getTable();

                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                Eliminar(odt) {
                    var urlHab = '@Url.Action("deshabilitar", "Odts")';
                    var data = {
                        id: odt
                    }
                    axios.post(urlHab, data).then(response => {
                        this.getOdt();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getCategoria() {
                    var select = document.getElementById("categoriaList");
                    var cId = select.options[select.selectedIndex].id;
                    if (cId === 0) {
                        this.categorias_id = "0";
                    } else {
                        this.categorias_id = cId;
                    }
                    
                },
                getTipo() {
                    var select = document.getElementById("tipo");
                    var cId = select.options[select.selectedIndex].id;
                    if (cId === 2) {
                        this.tipo = "2";
                    } else {
                        this.tipo = cId;
                    }
                }
            },


        })

    </script>
}
