@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Responder Check List";
    Layout = "../Shared/_Layout.cshtml";
}

@section styles
{
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	<style>
		.accordion > .card:first-of-type {
			border-bottom: 1px; 
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		.accordion > .card .card-header {
			margin-bottom: 0px;
		}
	</style>
}

<div class="container">
	<div class="row justify-content-center m-3">
		<div class="col-lg-12 col-sm-offset-2"> 

			<div class="wizard-container">
				<div class="card wizard-card" data-color="blue" id="wizard">
					<form action="" method="">

						<div class="wizard-header">
							<h3 class="wizard-title">
								Ingresar Check List
							</h3>

						</div>
						<div class="wizard-navigation text-center">
							<ul>
								<li class="mt-2 mb-2"><a href="#datosGenerales" data-toggle="tab">Datos Generales</a></li>
								<li class="text-center mt-2 mb-2"><a href="#actividades" data-toggle="tab">Actividades</a></li>
							</ul>
						</div>

						<div class="tab-content">
							@RenderPage("partials/responderCheckList/datosGenerales.cshtml")
							@RenderPage("partials/responderCheckList/Actividades.cshtml")
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>













@section scripts
{
	<script src="~/assets/js/jquery.bootstrap.js"></script>
	<script src="~/assets/js/jquery.validate.min.js"></script>
	<script src="~/assets/js/material-bootstrap-wizard.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

	<script>
        var responderCH = new Vue({
	        el:'#app',
	        data() {
		        return {
			        observador: '@User.Identity.GetUserName()',
			        observador_id: '@User.Identity.GetUserId()',
			        GetFecha: null,
			        GetHora: null,
			        negocios: [],
			        gerencias: [],
			        areas: [],
			        HoldingId: null,
			        NegocioId: null,
			        GerenciaId: null,
			        AreaId: null,
			        oAnonimo: 0,
			        users: [],
			        Actividades: [],
			        Preguntas: [],
			        respuestaPregunta: [],
			        HoldingName: null,
			        negocioName: null,
			        gerenciaName: null,
			        areaName: null,
			        estado: false,
	        }
	        },
	        created() {
		        this.GetNegocio();
		        this.GetGerencia();
		        this.GetArea();
		        this.getFechaActual();
		        this.getUsers();
		        this.getActividades();
		        this.validarFinish();
	        },
	        methods: {
		        validarPlanAccion() {
			        var context = this;
			        
			        this.respuestaPregunta.forEach(function(item) {
				        if (item.no === 1) {
					        context.estado = true;
				        }
			        });
		        },
		        finalizar() {
			        var datosGenerales1 = {
				        Observador_id: this.observador_id,
				        fecha: this.GetFecha,
				        hora: this.GetHora,
				        holding_id: this.HoldingId,
				        negocio_id: this.NegocioId,
				        gerencia_id: this.GerenciaId,
				        area_id: this.AreaId,
				        observador_nombre: this.observador,
				        anonimo: this.oAnonimo
			        }

			        var actividades = this.respuestaPregunta;
			        
			        var datosRespuesta = {
				        holding_nombre: this.HoldingName,
				        negocio_nombre: this.negocioName,
				        gerencia_nombre: this.gerenciaName,
				        area_nombre: this.areaName,
				        observador_nombre: this.observador,
				        CheckListId: @ViewBag.checkListId
			        }
			        
			        var data = {
				        datosGenerales1,
				        actividades1: this.respuestaPregunta,
				        datosRespuesta
			        }
			        

			        var url = "@Url.Action("CheckListSimple","CheckList")";
			        var b =$.dialog({
				        icon: 'fa fa-spinner fa-spin',
				        title: 'Cargando...',
				        content: '',
				        closeIcon: false
			        });
			        
			        axios.post(url, data).then(response => {
				        b.close();
				        $.confirm({
					        title: 'Check List!',
					        content: 'Respondido con exito.',
					        type: 'green',
					        typeAnimated: true,
					        buttons: {
						        tryAgain: {
							        text: 'Aceptar',
							        btnClass: 'btn-green',
							        action: function() {
								        window.location = "@Url.Action("listRespuestas","CheckList")";
							        }
						        }
					        }
				        });
			        }).catch(error => {
				        console.log("error: " + error);
			        });

		        },
		        getUsers() {
			        var urlUser = '@Url.Action("allUsers", "User")';
			        axios.get(urlUser).then(response => {
				        this.users = response.data;

			        }).catch(error => {
				        console.log("error: " + error);
			        })
		        },
		        getFechaActual() {
			        var n = new Date();
			        //Año
			        var y = n.getFullYear();
			        //Mes
			        var m = n.getMonth() + 1;
			        //Día
			        var d = n.getDate();

			        var h = n.getHours();
			        var mi = n.getMinutes();

			        console.log("hora:" + h + ":" + mi);

			        if (m < 10) {
				        this.GetFecha = d + "-0" + m + "-" + y;
			        } else {
				        this.GetFecha = d + "-" + m + "-" + y;
			        }

			        if (h < 10) {
				        h = "0" + h;
			        }
			        if (mi < 10) {
				        mi = "0" + mi;
			        }
			        this.GetHora = h + ":" + mi;

		        },
		        GetNegocio() {
			        var url = '@Url.Action("GetNegocio", "Negocio")';
			        axios.get(url).then(response => {
				        this.negocios = response.data;
			        })

		        },
		        GetGerencia() {
			        var url = '@Url.Action("GetGerencia", "Gerencia")';
			        axios.get(url).then(response => {
				        this.gerencias = response.data;
//                        console.log("gerencia");
//                        console.log(response.data);
			        })

		        },
		        GetArea() {
			        var url = '@Url.Action("GetArea", "Area")';
			        axios.get(url).then(response => {
				        this.areas = response.data;
//                        console.log("areas");
//                        console.log(this.areas);
			        })
		        },
		        GetHoldingId(id) {
                    this.HoldingId = id;
                    $('#negocio').removeAttr('disabled');
                    $('#negocioError').removeClass('d-none');
                    for (var i = 1; i <= 3; i++) {
                        $('#select' + i).removeClass("active");
                    }
                    $('#select' + id).addClass("active");
                    $('#gerencia').attr("disabled", "disabled");
                    $('#area').attr("disabled", "disabled");

                    this.GerenciaId = '';
                    this.NegocioId = '';

                    if (this.HoldingId !== null) {
                        $('#holdingError').addClass('d-none');
                        if (id === 1) {
                            this.HoldingName = "Esmax Distr.";
                        }else if (id === 2) {
                            this.HoldingName = "Esmax red";
                        }else if (id === 3) {
                            this.HoldingName = "Esmax ind";
                        }
                    }

                    this.validNext();

                },
                GetNegocioId(id) {
                    var select = document.getElementById(id);
                    var nId = select.options[select.selectedIndex].id;


                    if (nId === 'negocio0') {
                        $('#gerencia').attr("disabled", "disabled");
                        $('#area').attr("disabled", "disabled");

                        this.GerenciaId = '';
                        this.AreaId = '';
                        this.NegocioId = '';
                    } else {
                        this.NegocioId = parseInt(nId);
                        $('#gerencia').removeAttr('disabled');
                        $('#area').attr("disabled", "disabled");
                        if (this.NegocioId !== null) {
                            $('#negocioError').addClass('d-none');
                            $('#gerenciaError').removeClass('d-none');
                            this.negocioName = $('#' + id).val();
                        }
                        this.GerenciaId = '';
                        this.AreaId = '';
//                        console.log("negocioid");
//                        console.log(nId);
                    }

                    this.validNext();

                },
                GetGerenciaId(id) {
                    var select = document.getElementById(id);
                    var gId = select.options[select.selectedIndex].id;
                    if (gId === 'gerencia0') {
                        $('#area').attr("disabled", "disabled");

                        this.AreaId = '';
                        this.GerenciaId = '';
                    } else {
                        this.GerenciaId = parseInt(gId);
                        if (this.GerenciaId !== null) {
                            $('#gerenciaError').addClass('d-none');
                            $('#areaError').removeClass('d-none');
                            this.gerenciaName = $('#' + id).val();
                        }
                        $('#area').removeAttr('disabled');
//                        console.log("gerenciaid");
//                        console.log(gId);
                    }
                    this.validNext();
                },
                GetAreaId(id) {
                    var select = document.getElementById(id);
                    var aId = select.options[select.selectedIndex].id;
                    this.AreaId = parseInt(aId);
                    if (this.AreaId !== null) {
                        $('#areaError').addClass('d-none');
                        this.areaName = $('#' + id).val();
                    }
//                    console.log("areaid");
//                    console.log(aId);

                    var oId = parseInt(aId);
                    console.log("OID");
                    console.log(oId);
                    console.log(this.AreaId);

                    if (!isNaN(oId)) {
	                    dato = this.areas.filter(function(data) {
		                    if (data.area_id === oId) {
			                    return data.responsable_id;
		                    }
	                    });
	                    var idResponsable = dato[0].responsable_id;

	                    this.idR = idResponsable;

	                    var id2 = toString(idResponsable);
	                    console.log("userrrrr");
	                    this.oResponsable = this.users.filter(function(data) {
		                    if (data.Id === "" + idResponsable) {

			                    return data;
		                    }
	                    });
                    }
                    

                    

                    console.log(this.idR);
                    this.validNext();

                },
		        anonimo() {
			        var checkbox = document.getElementById('anonimo');
			        checkbox.addEventListener("change", this.isAnonimo(checkbox), false);
		        },
		        isAnonimo(checkbox) {
			        var checked = checkbox.checked;
			        if (checked) {
				        $('#observador').attr("type", "password");
				        this.oAnonimo = 1;
			        } else {
				        $('#observador').attr("type", "text");
				        this.oAnonimo = 0;
			        }
			        console.log(this.oAnonimo)
		        },
		        validNext() {
			        if (this.HoldingId !== null && this.HoldingId !== "" && !isNaN(this.HoldingId) &&
				        this.NegocioId !== null && this.NegocioId !== "" && !isNaN(this.NegocioId) &&
				        this.GerenciaId !== null && this.GerenciaId !== ""&& !isNaN(this.GerenciaId) &&
				        this.AreaId !== null && this.AreaId !== "" && !isNaN(this.AreaId)
					        ) {
				        console.log("Correcto");
				        console.log(this.NegocioId);
					        $('#next').removeAttr("disabled","disabled");
				        
			        } else {
				        console.log("Error");
				        console.log(this.NegocioId);
				        
				        $('#next').attr("disabled", "disabled");
			        }
			        
		        },
		        getActividades() {
			        var url = "@Url.Action("getActividades","CheckList")";
			        var data = {
				        id: @ViewBag.checkListId
			        }

			        axios.post(url, data).then(response => {
				        this.Actividades = response.data;
				        this.getPreguntas();
			        }).catch(error => {
				        console.log("error: " + error);
			        });
		        },
		        getPreguntas() {
			        var query = "Where ";
			        this.Actividades.map(function(data) {
				        if (query === "Where ") {
					        query += "ActividadId = " + data.ActividadId;
				        } else {
					        query += " or ActividadId = " + data.ActividadId;
				        }
			        });

			        var url = "@Url.Action("getPreguntas","CheckList")";
			        
			        var data = {
				        query: query
			        };
			        
			        axios.post(url, data).then(response => {
				        this.Preguntas = response.data;
				        
			        }).catch(error => {
				        console.log("error: " + error);
			        });

		        },
		        respuesta(id, pregunta) {
			        //Se quita el active de todas las opciones segun id
			        $('#na' + pregunta.PreguntaId).removeClass("active");
			        $('#si' + pregunta.PreguntaId).removeClass("active");
			        $('#no' + pregunta.PreguntaId).removeClass("active");
			        //Se agrega active al id enviado por parametro
			        $('#' + id).addClass("active");

			        var na = 0;
			        var si = 0;
			        var no = 0;

			        if (id === "na" + pregunta.PreguntaId) {
				        na = 1;
				        si = 0;
				        no = 0;
			        }
			        if (id === "si" + pregunta.PreguntaId) {
				        na = 0;
				        si = 1;
				        no = 0;
			        }
			        if (id === "no" + pregunta.PreguntaId) {
				        na = 0;
				        si = 0;
				        no = 1;
			        }
			        console.log("NA");
			        console.log(na);
			        console.log("SI");
			        console.log(si);
			        console.log("NO");
			        console.log(no);
			        var buscador = 0;
			        this.respuestaPregunta.map(function(data) {
				        if (data.PreguntaId === pregunta.PreguntaId) {
					        data.na = na;
					        data.si = si;
					        data.no = no;

					        buscador += 1;
				        }
			        });
			        console.log("BUSCADOR");
			        console.log(buscador);
			        if (buscador === 0) {
				        this.respuestaPregunta.push({
					        ActividadId: pregunta.ActividadId,
					        PreguntaId: pregunta.PreguntaId,
					        na: na,
					        si: si,
					        no: no,
					        comentario: null,
					        pregunta: pregunta.pregunta
				        })
			        }

			        console.log("RESPUESTA PREGUNTAS");
			        console.log(this.respuestaPregunta);

		        },
		        comentario(pregunta) {
			        var comentario = $('#comentario' + pregunta.PreguntaId).val();
			        
			        this.respuestaPregunta.map(function(data) {
				        if (data.PreguntaId === pregunta.PreguntaId) {
					        data.comentario = comentario;
				        }
			        })
		        },
		        validarFinish() {
			        setInterval(() => {
				        if (this.respuestaPregunta.length === this.Preguntas.length) {
					        $('#finish').removeAttr("disabled", "disabled");
					        console.log("HABILITADO");
				        } else {
					        $('#finish').attr("disabled", "disabled");
					        console.log("DESHABILITADO");
				        }
				        
			        }, 100);
			        
		        },
		        getCheckList() {
			        var url = "@Url.Action("getCheckList","CheckList")";
			        var data = {
				        id: @ViewBag.checkListId
			        }

			        axios.post(url, data).then(response => {
				        this.checkList = response.data;
			        }).catch(error => {
				        console.log("error: " + error);
			        });
		        }
		        
		        
	        }
        })
    </script>
	
}
