@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Modificar mi cuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-11">
            <div class="card shadow-sm p-0">
                <div class="card-body text-center">
                    <h5>Modificar mi cuenta</h5>
                </div>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div class="row justify-content-center mb-5">
                    <div class="col-lg-9">
                        <div class="form-group">
                            <label for="correo" class="text-dark">Correo</label>
                            <input type="email" class="form-control" id="correo" aria-describedby="emailHelp" placeholder="Ingrese su correo" v-model="Email">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <label for="usuario" class="text-dark">Nombre de usuario</label>
                            <input type="text" class="form-control" id="usuario" placeholder="Ingrese su nombre de usuario con el cual desea entrar a la cuenta" v-model="nUsuario">
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5">
                        <button type="button" class="btn btn-block btn-secondary" v-on:click="inicio">Cancelar</button>
                    </div>
                    <div class="col-lg-4 offset-3 mt-5">
                        <button type="button" class="btn btn-block btn-primary" v-on:click="Guardar">Guardar Cambios</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script>
        var modificarCuenta = new Vue({
            el:'#app',
            data() {
                return {
                    user: null,
                    Email: null,
                    nUsuario: null,
                }
            },
            created() {
                this.getUser();
            },
            methods: {
                getUser() {
                    var url = "@Url.Action("getUser","User")";

                    axios.post(url,
                        {
                            id: "@User.Identity.GetUserId()"
                        }).then(response => {
                        this.user = response.data;
                        this.Email = this.user.Email;
                        this.nUsuario = this.user.Usuario;
                    }).catch(error => {
                        console.log("Error: " + error);
                    });
                },
                inicio() {
                    window.location = "@Url.Action("Index","Home")";
                },
                Guardar() {

                    var email = this.Email;
                    var nUsuario = this.nUsuario;
                    var context = this;

                    if (email === "") {
                        $.confirm({
                            title: 'Un momento!',
                            content: 'Email no puede quedar vacio.',
                            type: 'orange',
                            typeAnimated: true,
                            buttons: {
                                Aceptar: function () {
                                    
                                }
                            }
                        }); 
                    }
                    
                    if (nUsuario === "") {
                        $.confirm({
                            title: 'Un momento!',
                            content: 'Nombre de usuario no puede quedar vacio.',
                            type: 'orange',
                            typeAnimated: true,
                            buttons: {
                                Aceptar: function () {
                                    
                                }
                            }
                        }); 
                    }

                    var url = "@Url.Action("modCuenta","User")";
                    
                    var data = {
                        id: "@User.Identity.GetUserId()",
                        email: email,
                        user: nUsuario
                    }
                    
                    axios.post(url,data).then(response => {
                        var respuesta = response.data;
                        if (respuesta === "Error email no valido") {
                            $.confirm({
                                title: 'Error!',
                                content: 'Email ingresado no es valido.',
                                type: 'red',
                                typeAnimated: true,
                                buttons: {
                                    Aceptar: function () {
                                        
                                    }
                                }
                            }); 
                        }else if (respuesta === 0) {
                            $.confirm({
                                title: 'Error!',
                                content: 'A ocurrido un error, intentelo mas tarde.',
                                type: 'red',
                                typeAnimated: true,
                                buttons: {
                                    Aceptar: function () {
                                        
                                    }
                                }
                            }); 
                        }else if (respuesta === 1) {
                            $.confirm({
                                title: 'Modificado!',
                                content: 'Datos actualizados con exito.',
                                type: 'green',
                                typeAnimated: true,
                                buttons: {
                                    Aceptar: function () {
                                        window.location = "@Url.Action("Index","Home")";
                                    }
                                }
                            });
                        }
                    }).catch(error => {
                        console.log("Error: " + error);
                    });


                }
            }
        });
    </script>
}
