@using Microsoft.AspNet.Identity

@{
	ViewBag.Title = "Realizar Test";
	Layout = "../Shared/_Layout.cshtml";
}

@section styles
{
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	<style>
		.accordion > .card:first-of-type {
			border-bottom: 1px; 
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		.accordion > .card .card-header {
			margin-bottom: 0px;
		}
	</style>
	<style>
       .radio {
         margin: 16px 0;
         display: block;
         cursor: pointer;
       }
       .radio input {
         display: none;
       }
       .radio input + span {
         line-height: 22px;
         height: 22px;
         padding-left: 22px;
         display: block;
         position: relative;
       }
       .radio input + span:not(:empty) {
         padding-left: 30px;
       }
       .radio input + span:before, .radio input + span:after {
         content: "";
         width: 22px;
         height: 22px;
         display: block;
         border-radius: 50%;
         left: 0;
         top: 0;
         position: absolute;
       }
       .radio input + span:before {
         background: #B4B2EE;
         transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
         transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
         transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
       }
       .radio input + span:after {
         background: #fff;
         -webkit-transform: scale(0.78);
                 transform: scale(0.78);
         transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
         transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
         transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
       }
       .radio input:checked + span:before {
         -webkit-transform: scale(1.04);
                 transform: scale(1.04);
         background: #25237B;
       }
       .radio input:checked + span:after {
         -webkit-transform: scale(0.4);
                 transform: scale(0.4);
         transition: -webkit-transform 0.3s ease;
         transition: transform 0.3s ease;
         transition: transform 0.3s ease, -webkit-transform 0.3s ease;
       }
       .radio:hover input + span:before {
         -webkit-transform: scale(0.92);
                 transform: scale(0.92);
       }
       .radio:hover input + span:after {
         -webkit-transform: scale(0.74);
                 transform: scale(0.74);
       }
       .radio:hover input:checked + span:after {
         -webkit-transform: scale(0.4);
                 transform: scale(0.4);
       }
       
    </style>
}

<div class="container">
	<div class="row justify-content-center m-3">
		<div class="col-lg-12 col-sm-offset-2"> 

			<div class="wizard-container">
				<div class="card wizard-card" data-color="blue" id="wizard">
					
					<div class="wizard-header">
						<h3 style="align-content: center" class="wizard-title" v-if="finalizado === false">
							Responder Test
						</h3>
						<h3 v-else>
							Resultados
						</h3>
					</div>
					<div class="tab-content" v-if="finalizado === false">
						@RenderPage("partials/PreguntasCap.cshtml")

					</div>
					<div class="tab-content" v-else>
						@RenderPage("partials/ResultadosCap.cshtml")
					</div>
						
				</div>
			</div>
		</div>
	</div>
</div>



@section scripts
{
	<script>
	
		var preg = new Vue({
			el: '#app',
			
			data() {
				return {
					misPreguntas: [],
					user: null,
					id_test: @ViewBag.id_test,
					misRespuestas: [],
					pregunta:[],
					indice: 0,
					totalPreguntas:0,
					aprobadas:0,
					resultado: null,
					finalizado: false,
					casiFinalizado: false,
					porcentajeAprobacion:0
					
				}
			},
			
			mounted(){
				this.getPreguntas();
			},
			methods:{
				
				getPreguntas() {
					
					var urlPreg = "@Url.Action("GetPreguntas", "Capacitacion")";
					
					axios.get(urlPreg, 
						{params:{id:this.id_test}}
					).then(
							response => {this.misPreguntas = response.data;}).catch(error=>{console.log("error: " + error);}
					);
					
					var urlCantidad = "@Url.Action("GetCantidad","Capacitacion")";
					
						axios.get(urlCantidad, 
							{params:{id_test:this.id_test}}
						).then(
								response=>{this.totalPreguntas = response.data;}).catch(error=>{console.log("error: " + error);}
					);
					
					this.cargarPregunta();
				},
				
				getOrPost(){
					if(document.getElementById("radioA").checked == true || document.getElementById("radioB").checked == true || document.getElementById("radioC").checked == true || 
						document.getElementById("radioD").checked == true || document.getElementById("radioE").checked == true){
						var context = this;
                        					
							console.log((this.indice+1) + " vez que pasa por getOrPost");
							
								if(document.getElementById("radioA").checked == true){
									context.misRespuestas[context.indice]="a";
								}else if(document.getElementById("radioB").checked == true){
									context.misRespuestas[context.indice]="b";
								}else if(document.getElementById("radioC").checked == true){
									context.misRespuestas[context.indice]="c";
								}else if(document.getElementById("radioD").checked == true){
									context.misRespuestas[context.indice]="d";
								}else if(document.getElementById("radioE").checked == true){
									context.misRespuestas[context.indice]="e";
								}
								
								document.getElementById("radioA").checked = false;
								document.getElementById("radioB").checked = false;
								document.getElementById("radioC").checked = false;
								document.getElementById("radioD").checked = false;
								document.getElementById("radioE").checked = false;
								
								this.indice++;
								
								if(context.indice == (context.totalPreguntas-1)){
									context.casiFinalizado = true;
								}
								
								if(context.indice == context.totalPreguntas){
									context.finalizado = true;
									context.finalizarTest();
								}else{
									var urlPregunta = "@Url.Action("GetUnaPregunta","Capacitacion")";
									
									context.pregunta = context.misPreguntas[context.indice];
								}
					}else{
						console.log("Debe seleccionar una respuesta");
					}
					
					
					
				},
				
				cargarPregunta(){
					
					var context = this;
					
					var urlPregunta = "@Url.Action("GetUnaPregunta","Capacitacion")";
                    																						
					axios.get(urlPregunta, 
							{params:{id_test:context.id_test, index_pregunta:context.indice}}
					).then(
							response=>{context.pregunta = response.data;}).catch(error=>{console.log("error: " + error);}
					);
					
				},
				
				finalizarTest(){
					
					var id = this.id_test;
					
					var data = {
						respuestas: this.misRespuestas,
						id_test: id,
						id_user: @User.Identity.GetUserId(),
						total: this.totalPreguntas
					};
					
					
					var urlResp = "@Url.Action("obtenerResultado","Capacitacion")";
					
					
					axios.post(urlResp, data).then(
							response=>{this.resultado = response.data;}).catch(error=>{console.log("error: " + error);}
					);
					
					
				},
				getPreguntaAnterior(){
					var context = this;
					
					context.indice--;
					
					var respuesta = this.misRespuestas[this.indice];
					
					
					var urlPregunta = "@Url.Action("GetUnaPregunta","Capacitacion")";
																											
					axios.get(urlPregunta, 
							{params:{id_test:context.id_test, index_pregunta:context.indice}}
					).then(
							response=>{context.pregunta = response.data;}).catch(error=>{console.log("error: " + error);}
					);
					
					context.casiFinalizado = false;
					
					if(respuesta === "a"){
						document.getElementById("radioA").checked = true;
					}else if(respuesta === "b"){
						document.getElementById("radioB").checked = true;
					}else if(respuesta === "c"){
						document.getElementById("radioC").checked = true;
					}else if(respuesta === "d"){
						document.getElementById("radioD").checked = true;
					}else if(respuesta === "e"){
						document.getElementById("radioE").checked = true;
					}
					
					
				},
				
				volverSelecionarTest(){
					window.location.assign("@Url.Action("volverSeleccionar","Capacitacion")");
				}
				
				
			}
			
			
		});
			</script>}
