@using Microsoft.AspNet.Identity

@{
	ViewBag.Title = "Resultados Test";
	Layout = "../Shared/_Layout.cshtml";
}

<br/>
<br/>
<center>
    <i v-if="info.estado === 'Aprobado'" class="fa fa-check fa-2x mr-2" style="color: #00b0ff"></i>
    <i v-if="info.estado === 'Reprobado'" class="fa fa-times fa-2x mr-2" style="color: red"></i>
</center>
    <br/>
<div class="row">
	<div class="col-sm-2">
            
	</div>
	<div class="col-sm-8">
		<h4 v-if="info.estado === 'Aprobado'" style="color: #00b0ff">Estado de test: {{info.estado}}</h4>
		<h4 v-if="info.estado === 'Reprobado'" style="color: red">Estado de test: {{info.estado}}</h4>
		<h5>{{info.mensaje}}</h5>
		<h5>{{info.aprobacion}}</h5>

		<br/>
		<hr/>
		<div v-for="pregunta, i in preguntas">
            <div v-if="respuestas[i].resp === pregunta.correcta" style="color: green">
                <i class="fa fa-check fa-2x mr-2"></i> {{pregunta.descripcion}}<br/>
                
            </div>
            <div v-else style="color: red">
                <i class="fa fa-times fa-2x mr-2"></i> {{pregunta.descripcion}}
            </div>
        </div>
		<hr/>
	</div>
	
        
	
</div>
<div class="row">
	<div class="col-sm-1">
	</div>
	<div class="col-sm-4">
		<input type="submit" style="float: right; width: 75%" v-on:click="volverMisResultados" class="btn btn-primary" value="Ver mis resultados"/>
	</div>
	<div class="col-sm-2">
    		
    </div>
	<div class="col-sm-4">
    	<input v-if="nivel != 3" type="submit" style="float: left; width: 75%" v-on:click="volverGenerales" class="btn btn-primary" value="Ver resultados generales"/>
    </div>
	<div class="col-sm-1">
    		
    </div>
</div>
<br/>
<br/>



@section scripts
{
	
	<script>
		var preg = new Vue({
			el: '#app',
			
			data() {
				return {
					id: @ViewBag.id_detalle,
					id_test: @ViewBag.idTestDetalle,
					info: null,
					preguntas:[],
					respuestas:[],
					nivel:0,
					id_user:'@User.Identity.GetUserId()'
				}
			},
			mounted(){
				this.getInfo();
			},
			methods:{
				
				getInfo(){
					var urlUserRol = '@Url.Action("validarRol", "Capacitacion")'; 
					axios.get(urlUserRol, 
						{params:{id:this.id_user}}
					).then(
						response => { this.nivel =response.data; }).catch(error => { console.log("error: " + error);
					});
					
					
					var urlInfo = '@Url.Action("GetInfoResultado", "Capacitacion")'; 
					axios.get(urlInfo, 
						{params:{id:this.id}}
					).then(
						response => { this.info =response.data; }).catch(error => { console.log("error: " + error);
					});
					
					this.getPreguntas();
				},
				
				getPreguntas(){
					var urlPreguntas = '@Url.Action("GetPreguntas", "Capacitacion")'; 
					axios.get(urlPreguntas, 
						{params:{id:this.id_test}}
					).then(
						response => { this.preguntas =response.data; }).catch(error => { console.log("error: " + error);
					});
					
					this.getRespuestas();
				},
				
				getRespuestas(){
					var urlRespuestas = '@Url.Action("GetMisAlternativas", "Capacitacion")'; 
					axios.get(urlRespuestas, 
						{params:{id_res:this.id}}
					).then(
						response => { this.respuestas =response.data; }).catch(error => { console.log("error: " + error);
					});
				},
				
				volverMisResultados(){
					window.location.assign("@Url.Action("ResultadosMisTests","Capacitacion")");
				},
				volverGenerales(){
					window.location.assign("@Url.Action("ResultadosGenerales","Capacitacion")");
				}
			}
		})
				
			</script>
	}