@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Graficos Capacitaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-11 mb-3">
            
            <a id="btncrear" class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("SeleccionarTest", "Capacitacion")">
                <i class="fa fa-list-ul fa-2x mr-2"></i>  Responder Test
            </a>
            <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("ResultadosMisTests","Capacitacion")">
                <i class="fa fa-balance-scale fa-2x mr-2"></i> Mis resultados
            </a>
            <a class="btn btn-secondary" v-if="nivel === 2 || nivel === 1" style="font-size: 75%;" href="@Url.Action("ResultadosGenerales","Capacitacion")">
                <i class="fa fa-balance-scale fa-2x mr-2"></i> Resultados Generales
            </a>
            <a class="btn btn-secondary" v-if="nivel === 1" style="font-size: 75%;" href="@Url.Action("CrearTest","Capacitacion")">
                <i class="fa fa-edit fa-2x mr-2"></i> Crear Test
            </a>
            <a class="btn btn-secondary" v-if="nivel === 1" style="font-size: 75%;" href="@Url.Action("HabilitarTest","Capacitacion")">
                <i class="fa fa-check fa-2x mr-2"></i> Habilitar Test
            </a>
            <a class="btn btn-info" v-if="nivel === 1 || nivel === 2" style="font-size: 100%;" href="@Url.Action("GraficasTest","Capacitacion")">
                <i class="fa fa-chart-line fa-2x mr-2"></i> Gr&aacute;ficas Capacitaciones
            </a>
        </div>

        <div class="col-lg-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row mb-5">
                        <div class="col-lg-4">
                            <input id="startDate" autocomplete="off" placeholder="Desde"/>
                        </div>
                        <div class="col-lg-4">
                            <input id="endDate" autocomplete="off" placeholder="Hasta"/>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-primary btn-block" v-on:click="getRespuesta">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12 mt-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">TESTs respondidos</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvas1" class="card-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">Aprobados</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvas4" class="card-body">
                    <canvas id="myChart4"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">Reprobados</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvas5" class="card-body">
                    <canvas id="myChart5"></canvas>
                </div>
            </div>
        </div>

        <!--<div class="col-lg-12 mt-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">Porcentaje Aprobaci&oacute;n</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvas3" class="card-body">
                    <canvas id="myChart3"></canvas>
                </div>
            </div>
        </div>-->
        
        <div class="col-lg-12">
            <div class="card shadow-sm mt-5 mb-5">
                <h5 class="text-center mt-2">Usuarios que responden</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div class="card-body">
                    <table id="tablauser" class="table table-hover">
                        <thead>
                        <tr>
                            <th style="width: 50%">Nombre de Usuario</th>
                            <th style="width: 50%">Total de TESTs respondidos</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/assets/js/jquery.zoom.js"></script>

            

    <script>
        $(document).ready(function(){
            $('#img').zoom();
        });
        
        var graficos = new Vue({
            el: '#app',
            data() {
                return {
                    respuesta: [],
                    odts: [],
                    respuestaCausa: [],
                    respuestaPorcentaje: 0,
                    respuestasCap: [],
                    respuestaReprobados: [],
                    respuestaAprobados: [],
                    respuestaArea: [],
                    user: null,
                    usuarios: [],
                    nivel:0,
                    id_user:'@User.Identity.GetUserId()',
                }
            },
            created() {
                this.getUser();
            },
            methods: {
                getUser() {
                    var urlUserRol = '@Url.Action("validarRol", "Capacitacion")'; 
                    axios.get(urlUserRol, 
                        {params:{id:this.id_user}}
                    ).then(
                        response => { this.nivel =response.data; }).catch(error => { console.log("error: " + error);
                    });
                    
                },
                getRespuesta() {
                    
                    var desde = new Date($('#startDate').val());
                    var hasta = new Date($('#endDate').val());
                    
                    var data = {
                        desde: desde,
                        hasta: hasta
                    };

                    this.getTESTsRespondidos(data);
                    this.getPorcentaje(data);
                    this.getAprobados(data);
                    this.getReprobados(data);
                    this.getRespuestaArea(data);
                    this.getUsuariosResponden(data);
                    
                },
                getTESTsRespondidos(data) {
                    var url = '@Url.Action("getResultadosFecha", "Capacitacion")';
                    
                    axios.post(url, data).then(response => {
                        this.respuestasCap = response.data;
                        
                        var label = [];
                        var count = [];
                        var colores = ['#2496D4', '#3AB54A', '#245CA9', '#25AFAF'];
                        var coloresBarra = [];
                        var i = 0;
                        this.respuestasCap.map(function(data) {
                            label.push(data.test);
                            count.push(data.total);
                            coloresBarra.push(colores[i]);
                            i += 1;
                            if (i >= colores.length ) {
                                i = 0;
                            }
                        })
                        
                        this.getGraphic("myChart", "canvas1", label, count, "bar", "Total de TESTs respondidos", coloresBarra);
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getUsuariosResponden(data) {
                    var url = '@Url.Action("getUsuariosResponden", "Capacitacion")';
                   
                    axios.post(url, data).then(response => {
                        this.usuarios = response.data;
                        this.getTable();
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getTable() {
                    $('#tablauser').DataTable().clear().draw();
                    $('#tablauser').DataTable().destroy();
                    var tabla = $('#tablauser').DataTable({
                        language: {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningun dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de MAX registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        }
                    });

                    this.usuarios.map(function(u) {
                       
                        tabla.row.add([
                            u.nombre,
                            u.total,
                        ]);
                    });
                    tabla.draw();
                },
                getAprobados(data) {
                    var url = '@Url.Action("getAprobados", "Capacitacion")';
                    
                    axios.post(url, data).then(response => {
                        this.respuestaAprobados = response.data;
                        
                        var label = [];
                        var count = [];
                        var colores = ['#2496D4', '#3AB54A', '#245CA9', '#25AFAF'];
                        var coloresBarra = [];
                        var i = 0;
                    
                        this.respuestaAprobados.map(function(data) {
                            label.push('Aprobados');
                            label.push('Total');
                            count.push(data.aprobados);
                            count.push(data.total);
                            coloresBarra.push(colores[i]);
                            i += 1;
                            if (i >= colores.length ) {
                                i = 0;
                            }
                        })
                        this.getGraphic("myChart4", "canvas4", label, count, "bar", "TESTs aprobados", coloresBarra);
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getReprobados(data) {
                    var url = '@Url.Action("getReprobados", "Capacitacion")';
                    
                    axios.post(url, data).then(response => {
                        this.respuestaReprobados = response.data;
                        
                        var label = [];
                        var count = [];
                        var colores = ['#D42F24', '#3AB54A', '#245CA9', '#25AFAF'];
                        var coloresBarra = [];
                        var i = 0;
                    
                        this.respuestaReprobados.map(function(data) {
                            label.push('Reprobados');
                            label.push('Total');
                            count.push(data.reprobados);
                            count.push(data.total);
                            coloresBarra.push(colores[i]);
                            i += 1;
                            if (i >= colores.length ) {
                                i = 0;
                            }
                        })
                        this.getGraphic("myChart5", "canvas5", label, count, "bar", "TESTs reprobados", coloresBarra);
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getPorcentaje(data) {
                    var url = '@Url.Action("getPorcentajeFecha", "Capacitacion")';
                   
                    axios.post(url, data).then(response => {
                        this.respuestaPorcentaje = response.data;

                        var label = [];
                        var count = [];
                        var colores = ['#2496D4'];
                        var coloresBarra = [];
                        var i = 0;
                    
                        this.respuestaPorcentaje.map(function(data) {
                            label.push('Porcentaje');
                            count.push(data);
                            coloresBarra.push(colores[i]);
                            i += 1;
                            if (i >= colores.length ) {
                                i = 0;
                            }
                        });
                        
                        this.getGraphic("myChart3", "canvas3", label, count, "bar", "Porcentaje aprobado", coloresBarra);
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
                getRespuestaArea(data) {
                    var url = '@Url.Action("getRespuestaArea", "CheckList")';
                   
                    axios.post(url, data).then(response => {
                        this.respuestaArea = response.data;

                        var label = [];
                        var count = [];
                        var colores = ['#2496D4', '#3AB54A', '#245CA9', '#25AFAF'];
                        var coloresBarra = [];
                        var i = 0;
                    
                        this.respuestaArea.map(function(data) {
                            label.push(data.nombre);
                            count.push(data.total);
                            coloresBarra.push(colores[i]);
                            i += 1;
                            if (i >= colores.length ) {
                                i = 0;
                            }
                        })
                        
                        this.getGraphic("myChart6", "canvas6", label, count, "bar", "Areas que responden", coloresBarra);
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
                getGraphic(id, idCanvas, label, count, tipo, titulo, coloresBarra) {
                    
                    $('#' + id).remove();

                    $('#' + idCanvas).append('<canvas id="' + id + '"></canvas>');
                    
                    var ctx = document.getElementById('' + id);
                    
                   
                    var myChart = new Chart(ctx,
                        {
                            type: '' + tipo,
                            data: {
                                labels: label,
                                datasets: [
                                    {
                                        label: '' + titulo,
                                        data: count,
                                        backgroundColor: coloresBarra,
                                        borderWidth: 1
                                    }
                                ]
                            },
                            options: {
                                tooltips: {
                                   
                                },
                                scales: {
                                    yAxes: [
                                        {
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }
                                    ]
                                }
                            }
                        });
                    myChart.update();
                },
            },
            
            
            updated() {
                $('#startDate').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    maxDate: function () {
                        return $('#endDate').val();
                    }
                });
                $('#endDate').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    minDate: function () {
                        return $('#startDate').val();
                    }
                });
            }
        })

    </script>
}
