@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Nuevo Formulario";
    Layout = "../Shared/_Layout.cshtml";
}

@section styles
{
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	
	
<style>
    .accordion > .card:first-of-type {
    	border-bottom: 1px; 
    	border-bottom-right-radius: 0;
    	border-bottom-left-radius: 0;
    }
    .accordion > .card .card-header {
    	margin-bottom: 0px;
    }
</style>
<style>
   .radio {
     margin: 16px 0;
     display: block;
     cursor: pointer;
   }
   .radio input {
     display: none;
   }
   .radio input + span {
     line-height: 22px;
     height: 22px;
     padding-left: 22px;
     display: block;
     position: relative;
   }
   .radio input + span:not(:empty) {
     padding-left: 30px;
   }
   .radio input + span:before, .radio input + span:after {
     content: "";
     width: 22px;
     height: 22px;
     display: block;
     border-radius: 50%;
     left: 0;
     top: 0;
     position: absolute;
   }
   .radio input + span:before {
     background: #B4B2EE;
     transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
     transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
     transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
   }
   .radio input + span:after {
     background: #fff;
     -webkit-transform: scale(0.78);
             transform: scale(0.78);
     transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
     transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
     transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
   }
   .radio input:checked + span:before {
     -webkit-transform: scale(1.04);
             transform: scale(1.04);
     background: #25237B;
   }
   .radio input:checked + span:after {
     -webkit-transform: scale(0.4);
             transform: scale(0.4);
     transition: -webkit-transform 0.3s ease;
     transition: transform 0.3s ease;
     transition: transform 0.3s ease, -webkit-transform 0.3s ease;
   }
   .radio:hover input + span:before {
     -webkit-transform: scale(0.92);
             transform: scale(0.92);
   }
   .radio:hover input + span:after {
     -webkit-transform: scale(0.74);
             transform: scale(0.74);
   }
   .radio:hover input:checked + span:after {
     -webkit-transform: scale(0.4);
             transform: scale(0.4);
   }
   
</style>
}

<div class="container-fluid mt-3">
	<div class="row justify-content-center">
		<div class="col-lg-11 col-sm-offset-2">
            
			<div class="col-lg-11 mb-3 mt-3">
                        
				<a id="btncrear" class="btn btn-info" style="font-size: 100%;" href="@Url.Action("SeleccionarTest", "Capacitacion")">
                    <i class="fa fa-list-ul fa-2x mr-2"></i>  Responder Test
                </a>
                <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("ResultadosMisTests","Capacitacion")">
                    <i class="fa fa-balance-scale fa-2x mr-2"></i> Mis resultados
                </a>
                <a class="btn btn-secondary" v-if="nivel === 2 || nivel === 1" style="font-size: 75%;" href="@Url.Action("ResultadosGenerales","Capacitacion")">
                    <i class="fa fa-balance-scale fa-2x mr-2"></i> Resultados Generales
                </a>
                <a class="btn btn-secondary" v-if="nivel === 1" style="font-size: 75%;" href="@Url.Action("CrearTest","Capacitacion")">
                	<i class="fa fa-edit fa-2x mr-2"></i> Crear Test
                </a>
                <a class="btn btn-secondary" v-if="nivel === 1" style="font-size: 75%;" href="@Url.Action("HabilitarTest","Capacitacion")">
                    <i class="fa fa-check fa-2x mr-2"></i> Habilitar Test
                </a>
				<a class="btn btn-secondary" v-if="nivel === 1 || nivel === 2" style="font-size: 75%;" href="@Url.Action("GraficasTest","Capacitacion")">
                    <i class="fa fa-chart-line fa-2x mr-2"></i> Gr&aacute;ficas Capacitaciones
                </a>
				
			</div>
			
	            
		</div>
	</div>

	<div class="card col-lg-12 pt-0">
		
		<div class="card-body" style="justify-content: center">
			<div v-if="nombre === true">
				@RenderPage("partials/ModificarPreguntaTest.cshtml")
			</div>	
			<div v-else>
				@RenderPage("partials/ModificarNombreTest.cshtml")
			</div>
		
		</div>
		
		
	</div>
	
	
	
</div>

 
@section scripts
{
	
<script>
		var capa = new Vue({
			el: '#app',
			
			data() {
				return {
					nombre:false,
					miPregunta: [],
					idModificado:@ViewBag.idModificado,
					nombreTest:'',
					descPregunta:'',
					respA:'',
					respB:'',
					respC:'',
					respD:'',
					respE:'',
					radioValue:'',
					indice:0,
					correcto:false,
					totalPreguntas:0,
					nombreTestModificado: false,
					nivel:0,
					id_user:'@User.Identity.GetUserId()',
					correcta:'',
					
				}
			},
			mounted(){
				this.getTest();
			},
			methods: {
				getTest(){
					var urlUserRol = '@Url.Action("validarRol", "Capacitacion")'; 
					axios.get(urlUserRol, 
						{params:{id:this.id_user}}
					).then(
						response => { this.nivel =response.data; }).catch(error => { console.log("error: " + error);
					});
					
					
					var urlTest = "@Url.Action("GetNombreTest", "Capacitacion")";
					
					axios.get(urlTest, 
						{params:{id:this.idModificado}}
					).then(
							response => {this.nombreTest = response.data;}).catch(error=>{console.log("error: " + error);}
					);
					
					this.getPreguntas();
				},
				
				getPreguntas() {
                					
					var urlPreg = "@Url.Action("GetPreguntas", "Capacitacion")";
					
					axios.get(urlPreg, 
						{params:{id:this.idModificado}}
					).then(
							response => {this.miPregunta = response.data;}).catch(error=>{console.log("error: " + error);}
					);
					
					var urlCantidad = "@Url.Action("GetCantidad","Capacitacion")";
					
						axios.get(urlCantidad, 
							{params:{id_test:this.idModificado}}
						).then(
								response=>{this.totalPreguntas = response.data;}).catch(error=>{console.log("error: " + error);}
					);
				},
				
				setNuevoNombre(){
					if(this.nombreTest != ''){
						console.log("Pasa por el if");
						var urlPreg = "@Url.Action("modificarNombreTest","Capacitacion")";
						
						axios.get(urlPreg, 
							{params:{id_test:this.idModificado, nuevoNombre: this.nombreTest}}
						).then(
								response => {this.nombreTestModificado = response.data;}).catch(error=>{console.log("error: " + error);}
						);
						
						this.nombre = true;
						
						this.descPregunta = this.miPregunta[this.indice].descripcion;
						this.respA = this.miPregunta[this.indice].a;
						this.respB = this.miPregunta[this.indice].b;
						this.respC = this.miPregunta[this.indice].c;
						this.respD = this.miPregunta[this.indice].d;
						this.respE = this.miPregunta[this.indice].e;
						
						if(this.miPregunta[this.indice].correcta === "a"){
							this.radioValue = 'a'
						}else if(this.miPregunta[this.indice].correcta === "b"){
							this.radioValue = 'b'
						}else if(this.miPregunta[this.indice].correcta === "c"){
							this.radioValue = 'c'
						}else if(this.miPregunta[this.indice].correcta === "d"){
							this.radioValue = 'd'
						}else if(this.miPregunta[this.indice].correcta === "e"){
							this.radioValue = 'e'
						}
						
						
						console.log("INDICE AL SALIR DEL SET NUEVO NOMBRE: " + this.indice);
						
						
					}else{
						console.log("Debe ingresar un nuevo nombre para el test");
					}
				},
				
				nextPregunta(){
					var context = this;
					var correct = false;
					
					//Valida que se escriba una pregunta
					if(context.descPregunta !== " "){
						console.log("DESC con algo: " + context.descPregunta);
						//Valida que se escriba una respuesta
						if(context.respA !== " " || context.respB !== " " || context.respC !== " " || context.respD !== " " || context.respE != " "){
							console.log("CON ALGO A: " + context.respA + " B: " + context.respB + " C: " + context.respC);
							//Valida que se seleccione una respuesta correcta
							if(document.getElementById("radioA").checked === true || document.getElementById("radioB").checked === true || document.getElementById("radioC").checked === true || document.getElementById("radioD").checked === true || document.getElementById("radioE").checked === true){
								console.log("Selecciono una respuesta correcta");
								//Valida que exista una pregunta para la respuesta correcta
								if((document.getElementById("radioA").checked === true && context.respA !== " ") || (document.getElementById("radioB").checked === true && context.respB !== " ") || (document.getElementById("radioC").checked === true && context.respC !== " ") || (document.getElementById("radioD").checked === true && context.respD !== " ") || (document.getElementById("radioE").checked === true && context.respE !== " ")){
									console.log("Selecciono una respuesta correcta a una pregunta");
									correct = true;
								}else{
									console.log("Debe seleccionar una respuesta valida");
								}
							}else{
								console.log("Debe seleccionar una respuesta correcta");
							}
						}else{
							console.log("Debe escribir una pregunta");
						}
					}else{
						console.log("Debe escribir una pregunta");
					}
					
					
					if(correct){
						
						//Deja las respuestas con un espacio para que en la base de datos no queden como null
						if(context.respA === ''){
							context.respA = ' ';
						}
						if(context.respB === ''){
							context.respB = ' ';
						}
						if(context.respC === ''){
							context.respC = ' ';
						}
						if(context.respD === ''){
							context.respD = ' ';
						}
						if(context.respE === ''){
							context.respE = ' ';
						}
						
						this.miPregunta[this.indice].descripcion = this.descPregunta;
						this.miPregunta[this.indice].a = this.respA;
						this.miPregunta[this.indice].b = this.respB;
						this.miPregunta[this.indice].c = this.respC;
						this.miPregunta[this.indice].d = this.respD;
						this.miPregunta[this.indice].e = this.respE;
						
						
						
						//colocar un if con los getbyid para comparar el valor del radio buton e ingresarlo
						
						if(document.getElementById("radioA").checked === true){
							this.miPregunta[this.indice].correcta = 'a';
						}else if(document.getElementById("radioB").checked === true){
							this.miPregunta[this.indice].correcta = 'b';
						}else if(document.getElementById("radioC").checked === true){
							this.miPregunta[this.indice].correcta = 'c';
						}else if(document.getElementById("radioD").checked === true){
							this.miPregunta[this.indice].correcta = 'd';
						}else if(document.getElementById("radioE").checked === true){
							this.miPregunta[this.indice].correcta = 'e';
						}
						
						
						
						
						this.indice++;
						
						
						this.descPregunta = this.miPregunta[this.indice].descripcion;
						this.respA = this.miPregunta[this.indice].a;
						this.respB = this.miPregunta[this.indice].b;
						this.respC = this.miPregunta[this.indice].c;
						this.respD = this.miPregunta[this.indice].d;
						this.respE = this.miPregunta[this.indice].e;
						
						if(this.miPregunta[this.indice].correcta === "a"){
							this.radioValue = 'a'
						}else if(this.miPregunta[this.indice].correcta === "b"){
							this.radioValue = 'b'
						}else if(this.miPregunta[this.indice].correcta === "c"){
							this.radioValue = 'c'
						}else if(this.miPregunta[this.indice].correcta === "d"){
							this.radioValue = 'd'
						}else if(this.miPregunta[this.indice].correcta === "e"){
							this.radioValue = 'e'
						}
						
					}else{
						console.log("Ha ocurrido un error inesperado");
					}
					correct = false;
				},
				
				nextNuevaPregunta(){
					var context = this;
					var correcto = false;
					
					//Valida que se escriba una pregunta
					if(context.descPregunta !== " "){
						//Valida que se escriba una respuesta
						if(context.respA !== " " || context.respB !== " " || context.respC !== " " || context.respD !== " " || context.respE != " "){
							//Valida que se seleccione una respuesta correcta
							if(document.getElementById("radioA").checked === true || document.getElementById("radioB").checked === true || document.getElementById("radioC").checked === true || document.getElementById("radioD").checked === true || document.getElementById("radioE").checked === true){
								console.log("Selecciono una respuesta correcta");
								//Valida que exista una pregunta para la respuesta correcta
								if((document.getElementById("radioA").checked === true && context.respA !== " ") || (document.getElementById("radioB").checked === true && context.respB !== " ") || (document.getElementById("radioC").checked === true && context.respC !== " ") || (document.getElementById("radioD").checked === true && context.respD !== " ") || (document.getElementById("radioE").checked === true && context.respE !== " ")){
									console.log("Selecciono una respuesta correcta a una pregunta");
									correcto = true;
								}else{
									console.log("Debe seleccionar una respuesta valida");
								}
							}else{
								console.log("Debe seleccionar una respuesta correcta");
							}
						}else{
							console.log("Debe escribir una pregunta");
						}
					}else{
						console.log("Debe escribir una pregunta");
					}
					
						
					if(correcto){
						if(document.getElementById("radioA").checked === true){
							context.correcta="a";
						}else if(document.getElementById("radioB").checked === true){
							context.correcta="b";
						}else if(document.getElementById("radioC").checked === true){
							context.correcta="c";
						}else if(document.getElementById("radioD").checked === true){
							context.correcta="d";
						}else if(document.getElementById("radioE").checked === true){
							context.correcta="e";
						}
						
						var miIDPregunta = parseInt(context.indice.toString())+1;
												
						console.log("ID PREGUNTA: "+miIDPregunta);
						
						this.miPregunta.push({
							id_pregunta: context.idModificado + '-' + miIDPregunta,
							id_test: context.idModificado,
							descripcion: context.descPregunta,
							a: context.respA,
							b: context.respB,
							c: context.respC,
							d: context.respD,
							e: context.respE,
							correcta: context.correcta
						});
						
						this.indice++;
						
						context.descPregunta=' ';
						context.respA=' ';
						context.respB=' ';
						context.respC=' ';
						context.respD=' ';
						context.respE=' ';
						context.radioValue = '';
						/*
						document.getElementById("radioA").checked = false;
						document.getElementById("radioB").checked = false;
						document.getElementById("radioC").checked = false;
						document.getElementById("radioD").checked = false;
						document.getElementById("radioE").checked = false;*/
					}else{
						console.log("Ha ocurrido un error");
					}
                    					
				},
				
				getPregAnterior(){
					this.indice--;
					
					var pregunta = this.miPregunta[this.indice];
					
					this.descPregunta=pregunta.descripcion;
					this.respA=pregunta.a;
					this.respB=pregunta.b;
					this.respC=pregunta.c;
					this.respD=pregunta.d;
					this.respE=pregunta.e;
					
					if(this.miPregunta[this.indice].correcta === "a"){
						this.radioValue = 'a'
					}else if(this.miPregunta[this.indice].correcta === "b"){
						this.radioValue = 'b'
					}else if(this.miPregunta[this.indice].correcta === "c"){
						this.radioValue = 'c'
					}else if(this.miPregunta[this.indice].correcta === "d"){
						this.radioValue = 'd'
					}else if(this.miPregunta[this.indice].correcta === "e"){
						this.radioValue = 'e'
					}
				},
				
				addPregunta(){
					var context = this;
					var correct = false;
                    					
						//Valida que se escriba una pregunta
						if(context.descPregunta !== " "){
							console.log("DESC con algo: " + context.descPregunta);
							//Valida que se escriba una respuesta
							if(context.respA !== " " || context.respB !== " " || context.respC !== " " || context.respD !== " " || context.respE != " "){
								console.log("CON ALGO A: " + context.respA + " B: " + context.respB + " C: " + context.respC);
								//Valida que se seleccione una respuesta correcta
								if(document.getElementById("radioA").checked === true || document.getElementById("radioB").checked === true || document.getElementById("radioC").checked === true || document.getElementById("radioD").checked === true || document.getElementById("radioE").checked === true){
									console.log("Selecciono una respuesta correcta");
									//Valida que exista una pregunta para la respuesta correcta
									if((document.getElementById("radioA").checked === true && context.respA !== " ") || (document.getElementById("radioB").checked === true && context.respB !== " ") || (document.getElementById("radioC").checked === true && context.respC !== " ") || (document.getElementById("radioD").checked === true && context.respD !== " ") || (document.getElementById("radioE").checked === true && context.respE !== " ")){
										console.log("Selecciono una respuesta correcta a una pregunta");
										correct = true;
									}else{
										console.log("Debe seleccionar una respuesta valida");
									}
								}else{
									console.log("Debe seleccionar una respuesta correcta");
								}
							}else{
								console.log("Debe escribir una pregunta");
							}
						}else{
							console.log("Debe escribir una pregunta");
						}
						
						
						if(correct){
							
							//Deja las respuestas con un espacio para que en la base de datos no queden como null
							if(context.respA === ''){
								context.respA = ' ';
							}
							if(context.respB === ''){
								context.respB = ' ';
							}
							if(context.respC === ''){
								context.respC = ' ';
							}
							if(context.respD === ''){
								context.respD = ' ';
							}
							if(context.respE === ''){
								context.respE = ' ';
							}
							
							this.miPregunta[this.indice].descripcion = this.descPregunta;
							this.miPregunta[this.indice].a = this.respA;
							this.miPregunta[this.indice].b = this.respB;
							this.miPregunta[this.indice].c = this.respC;
							this.miPregunta[this.indice].d = this.respD;
							this.miPregunta[this.indice].e = this.respE;
							
							
							
							//colocar un if con los getbyid para comparar el valor del radio buton e ingresarlo
							
							if(document.getElementById("radioA").checked === true){
								this.miPregunta[this.indice].correcta = 'a';
							}else if(document.getElementById("radioB").checked === true){
								this.miPregunta[this.indice].correcta = 'b';
							}else if(document.getElementById("radioC").checked === true){
								this.miPregunta[this.indice].correcta = 'c';
							}else if(document.getElementById("radioD").checked === true){
								this.miPregunta[this.indice].correcta = 'd';
							}else if(document.getElementById("radioE").checked === true){
								this.miPregunta[this.indice].correcta = 'e';
							}
						
						context.descPregunta = ' ';
						context.respA = ' ';
						context.respB = ' ';
						context.respC = ' ';
						context.respD = ' ';
						context.respE = ' ';
						context.radioValue = '';
						
						context.indice++;
						
						
						
					}
                    					
				},
				
				finalizar(){
					var context = this;
					var correct = false;
					
					//Valida que se escriba una pregunta
					if(context.descPregunta !== " "){
						console.log("DESC con algo: " + context.descPregunta);
						//Valida que se escriba una respuesta
						if(context.respA !== " " || context.respB !== " " || context.respC !== " " || context.respD !== " " || context.respE != " "){
							console.log("CON ALGO A: " + context.respA + " B: " + context.respB + " C: " + context.respC);
							//Valida que se seleccione una respuesta correcta
							if(document.getElementById("radioA").checked === true || document.getElementById("radioB").checked === true || document.getElementById("radioC").checked === true || document.getElementById("radioD").checked === true || document.getElementById("radioE").checked === true){
								console.log("Selecciono una respuesta correcta");
								//Valida que exista una pregunta para la respuesta correcta
								if((document.getElementById("radioA").checked === true && context.respA !== " ") || (document.getElementById("radioB").checked === true && context.respB !== " ") || (document.getElementById("radioC").checked === true && context.respC !== " ") || (document.getElementById("radioD").checked === true && context.respD !== " ") || (document.getElementById("radioE").checked === true && context.respE !== " ")){
									console.log("Selecciono una respuesta correcta a una pregunta");
									correct = true;
								}else{
									console.log("Debe seleccionar una respuesta valida");
								}
							}else{
								console.log("Debe seleccionar una respuesta correcta");
							}
						}else{
							console.log("Debe escribir una pregunta");
						}
					}else{
						console.log("Debe escribir una pregunta");
					}
					
					
					if(correct){
						
						//Deja las respuestas con un espacio para que en la base de datos no queden como null
						if(context.respA === ''){
							context.respA = ' ';
						}
						if(context.respB === ''){
							context.respB = ' ';
						}
						if(context.respC === ''){
							context.respC = ' ';
						}
						if(context.respD === ''){
							context.respD = ' ';
						}
						if(context.respE === ''){
							context.respE = ' ';
						}
						
						this.miPregunta[this.indice].descripcion = this.descPregunta;
						this.miPregunta[this.indice].a = this.respA;
						this.miPregunta[this.indice].b = this.respB;
						this.miPregunta[this.indice].c = this.respC;
						this.miPregunta[this.indice].d = this.respD;
						this.miPregunta[this.indice].e = this.respE;
						
						
						
						//colocar un if con los getbyid para comparar el valor del radio buton e ingresarlo
						
						if(document.getElementById("radioA").checked === true){
							this.miPregunta[this.indice].correcta = 'a';
						}else if(document.getElementById("radioB").checked === true){
							this.miPregunta[this.indice].correcta = 'b';
						}else if(document.getElementById("radioC").checked === true){
							this.miPregunta[this.indice].correcta = 'c';
						}else if(document.getElementById("radioD").checked === true){
							this.miPregunta[this.indice].correcta = 'd';
						}else if(document.getElementById("radioE").checked === true){
							this.miPregunta[this.indice].correcta = 'e';
						}
					}
					
					
					var urlPreguntas = "@Url.Action("modificarPreguntas","Capacitacion")";
										
					axios.post(urlPreguntas, this.miPregunta).then(
							response=>{this.correcto = response.data;}).catch(error=>{console.log("error: " + error);}
					);
					
					window.location.assign("@Url.Action("volverSeleccionar","Capacitacion")");
				},
				
				guardaryFinalizar(){
					var context = this;
					if(context.descPregunta === ' ' && context.respA === ' ' && context.respB === ' ' && 
					context.respC === ' ' && context.respD === ' ' && context.respE === ' '){
						console.log("No ingresó última pregunta");
					}else{
						if(document.getElementById("radioA").checked === true){
							context.correcta="a";
						}else if(document.getElementById("radioB").checked === true){
							context.correcta="b";
						}else if(document.getElementById("radioC").checked === true){
							context.correcta="c";
						}else if(document.getElementById("radioD").checked === true){
							context.correcta="d";
						}else if(document.getElementById("radioE").checked === true){
							context.correcta="e";
						}
						
						var miIDPregunta = parseInt(context.indice.toString())+1;
						
						console.log("ID PREGUNTA: "+miIDPregunta);
						
						this.miPregunta.push({
							id_pregunta: context.idModificado + '-' + miIDPregunta,
							id_test: context.idModificado,
							descripcion: context.descPregunta,
							a: context.respA,
							b: context.respB,
							c: context.respC,
							d: context.respD,
							e: context.respE,
							correcta: context.correcta
						});
						
					}
					var urlPreguntas = "@Url.Action("modificarNuevasPreguntas","Capacitacion")";
																							
											
					axios.post(urlPreguntas, this.miPregunta).then(
							response=>{this.correcto = response.data;}).catch(error=>{console.log("error: " + error);}
					);
					
					window.location.assign("@Url.Action("volverSeleccionar","Capacitacion")");
				}
				
			},
		})
</script>
}