@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Capacitaciones";
    Layout = "../Shared/_Layout.cshtml";
}

@section styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
}

<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-11 col-sm-offset-2">
            
            <div class="col-lg-11 mb-3 mt-3">
                        
                <a id="btncrear" class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("SeleccionarTest", "Capacitacion")">
                    <i class="fa fa-list-ul fa-2x mr-2"></i>  Responder Test
                </a>
                <a class="btn btn-info" style="font-size: 100%;" href="@Url.Action("ResultadosMisTests","Capacitacion")">
                    <i class="fa fa-balance-scale fa-2x mr-2"></i> Mis resultados
                </a>
                <a class="btn btn-secondary" v-if="nivel === 2 || nivel === 1" style="font-size: 75%;" href="@Url.Action("ResultadosGenerales","Capacitacion")">
                    <i class="fa fa-balance-scale fa-2x mr-2"></i> Resultados Generales
                </a>
                <a class="btn btn-secondary" v-if="nivel === 1" style="font-size: 75%;" href="@Url.Action("CrearTest","Capacitacion")">
                    <i class="fa fa-edit fa-2x mr-2"></i> Crear Test
                </a>
	            <a class="btn btn-secondary" v-if="nivel === 1" style="font-size: 75%;" href="@Url.Action("HabilitarTest","Capacitacion")">
		            <i class="fa fa-check fa-2x mr-2"></i> Habilitar Test
	            </a>
	            <a class="btn btn-secondary" v-if="nivel === 1 || nivel === 2" style="font-size: 75%;" href="@Url.Action("GraficasTest","Capacitacion")">
                    <i class="fa fa-chart-line fa-2x mr-2"></i> Gr&aacute;ficas Capacitaciones
                </a>
            </div>
	        
            
            <div class="card col-lg-12 pt-0">
                            
                        <div class="col-lg-4">
            	            <input type="hidden" v-on:click="getResultados" id="aux" class="form-group btn btn-primary btn-block"/>
                        </div>


	            <div class="card-body">
                    <table id="example" class="table mt-5 table-responsive">
                        <thead>
                        <tr>
	                        <th style="width: 10%">IDENTIFICADOR</th>
	                        <th style="width: 40%">TEST</th>
	                        <th style="width: 20%">FECHA</th>
	                        <th style="width: 20%">RESULTADO</th>
	                        <th style="width: 10%">DETALLE</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

	            

            </div>
	        
        </div>
    </div>
</div>


@section scripts
{
    <script src="~/assets/js/jquery.bootstrap.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/material-bootstrap-wizard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    

    <script>
    	window.onload=function(){
    		$(document).ready(function(){
    		  $('#aux').trigger('click');
    		});
    	};
    	var capa = new Vue({
    		el: '#app',
    		
    		data() {
    			return {
    				misResultados: [],
    				misPreguntas: [],
    				user: null,
    				id_user: @User.Identity.GetUserId(),
    				id_resultado: '',
    				nivel:0,
    			}
    		},
    		mounted(){
    			this.getResultados();
    		},
    		
    		methods: {
    			getResultados() { 
    			    
    				var urlUserRol = '@Url.Action("validarRol", "Capacitacion")'; 
					axios.get(urlUserRol, 
						{params:{id:this.id_user}}
					).then(
						response => { this.nivel =response.data; }).catch(error => { console.log("error: " + error);
					});
    				
    				
    				var urlResultados = '@Url.Action("GetResultados", "Capacitacion")'; 
    				axios.get(urlResultados, 
    					{params:{id_user:this.id_user}}
    				).then(
    					response => { this.misResultados =response.data; }).catch(error => { console.log("error: " + error);
    				});
                    
    				this.getTable();
    			},
    			
    			
    			getDetalle(id_resultado){
    				this.id_resultado = id_resultado;
    				console.log("ESTADO DEL BOTON: " + this.id_resultado);
    			},
    			
    			getTable(){
    					$('#example').DataTable().clear().draw();
    					$('#example').DataTable().destroy();
    					var tabla = $('#example').DataTable({
    						language: {
    							"sProcessing":     "Procesando...",
    							"sLengthMenu":     "Mostrar _MENU_ Test",
    							"sZeroRecords":    "No se encontraron resultados",
    							"sEmptyTable":     "Ning&uacute;n dato disponible en esta tabla",
    							"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
    							"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
    							"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
    							"sInfoPostFix":    "",
    							"sSearch":         "Buscar:",
    							"sUrl":            "",
    							"sInfoThousands":  ",",
    							"sLoadingRecords": "Cargando...",
    							"oPaginate": {
    								"sFirst":    "Primero",
    								"sLast":     "Último",
    								"sNext":     "Siguiente",
    								"sPrevious": "Anterior"
    							},
    							"oAria": {
    								"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
    								"sSortDescending": ": Activar para ordenar la columna de manera descendente"
    							}
    						}
    					});
    					
    					
    					this.misResultados.map(function(o){
    						tabla.row.add([
    							o.ID,
    							o.TEST,
    							o.FECHA,
    							o.ESTADO,
                                '<a href="@Url.Action("getDetalleResultado", "Capacitacion")/' +
								  o.ID +
								  '"><button class="btn btn-outline-success" style="border-radius: 50%"><i class="fa fa-list-ul"></i></button></a>'
    						]);
    						
    					});
    				tabla.draw();
    			}
    			
    		},
    	})
    </script>
}
