@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Ingresar ODT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
}

<div class="container">
    <div class="row justify-content-center mt-0">
        <div class="col-lg-11 col-sm-offset-2">
       
            <div class="wizard-container">
                <div class="card wizard-card" data-color="blue" id="wizard">
                    <form action="" method="">

                        <div class="wizard-header">
                            <h3 class="wizard-title">
                                Ingresar observaci&oacute;n de trabajo
                            </h3>

                        </div>
                        <div class="wizard-navigation text-center">
                            <ul>
                                <li class="mt-2 mb-2"><a href="#datos" onclick="return false" data-toggle="tab">Datos generales</a></li>
                                <li class="text-center mt-2 mb-2"><a href="#tareas" onclick="return false" data-toggle="tab">Tareas o condiciones</a></li>
                                <li class="mt-2 mb-2"><a href="#observaciones" data-toggle="tab">Observaciones</a></li>
                                <li class="mt-2 mb-2"><a href="#analisis" data-toggle="tab">Analisis</a></li>
                                <li class="mt-2 mb-2"><a href="#plan" data-toggle="tab">Plan de acci&oacute;n</a></li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            @RenderPage("partials/responderOdt/paso1.cshtml")
                            @RenderPage("partials/responderOdt/paso2.cshtml")
                            @RenderPage("partials/responderOdt/paso3.cshtml")
                            @RenderPage("partials/responderOdt/paso4.cshtml")
                            @RenderPage("partials/responderOdt/paso5.cshtml")
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/js/jquery.bootstrap.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/material-bootstrap-wizard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <script>
        function check(id, valor) {
//            $('#na' + id).removeClass('active');
//            $('#c' + id).removeClass('active');
//            $('#d' + id).removeClass('active');
//
//            $('#' + valor).addClass('active');
            console.log("id: " + id);
            console.log("valor: " + valor);
        }
    </script>
    <script>

        var ingresarOdt = new Vue({
            el: '#app',
            data() {
                return{
                    odt_id: @ViewBag.odt_id,
                    odtTareas: [],
                    tareas: [],
                    odtSubTareas: [],
                    subTareas: [],
                    odtObservaciones: [],
                    observaciones: [],
                    odtSubNiveles: [],
                    subniveles: [],
                    SubTareasSeleccionadas: [],
                    negocios: [],
                    gerencias: [],
                    areas: [],
                    HoldingId: null,
                    NegocioId: null,
                    GerenciaId: null,
                    AreaId: null,
                    observador: '@User.Identity.GetUserName()',
                    observador_id: '@User.Identity.GetUserId()',
                    observadoId: null,
                    GetFecha: null,
                    Acomentarios: null,
                    Aconclusiones: null,
                    Desvios: [],
                    DsubNivel: [],
                    comentarios: null,
                    mObservaciones: [],
                    mAnalisis: [],
                    fechaAnalisis: null,
                    causa_raiz: [],
                    oAnonimo: 0,
                    Condiciones: [],
                    users: [],
                    oResponsable: [],
                    NivelesOdts_id: null,
                    getAcciones: [],
                    getCumplimientos: [],
                    OSN: [],
                    idR: null,
                    TareasS: [],
                    retroalimentacion: 0,
                    ec: null,
                    trabajo: null,
                    turno: null,
                    GetHora: null,
                    accion: null,
                    responsableNivel: [],
                    user: null,
                    empresa: null,
                    contratista: null,
                    negocioName: null,
                    gerenciaName: null,
                    areaName: null,
                    HoldingName: null,
                    desvio_si_no: null,
                }
            },
            created() {
                this.getObservaciones();
                this.getData();
                this.getSubNiveles();
                this.GetNegocio();
                this.GetGerencia();
                this.GetArea();
                this.getFechaActual();

                console.log("observador id");
                console.log(this.observador_id);


            },
            mounted() {
                setTimeout(() => {
                        this.NextOdtD();
                    },
                    200);
                /*this.getUser();*/
            },
            methods: {
                getFechaActual() {
                    var n = new Date();
                    //Año
                    var y = n.getFullYear();
                    //Mes
                    var m = n.getMonth() + 1;
                    //Día
                    var d = n.getDate();

                    var h = n.getHours();
                    var mi = n.getMinutes();

                    console.log("hora:" + h + ":" + mi);

                    if (m < 10) {
                        this.GetFecha = d + "-0" + m + "-" + y;
                    } else {
                        this.GetFecha = d + "-" + m + "-" + y;
                    }

                    if (h < 10) {
                        h = "0" + h;
                    }
                    if (mi < 10) {
                        mi = "0" + mi;
                    }
                    this.GetHora = h + ":" + mi;

                },
                idNiveles(id) {
                    this.NivelesOdts_id = id;
                },
                check(id, valor, observacion, subNivel, odtSubNivel) {
                    $('#na' + id).removeClass('active');
                    $('#c' + id).removeClass('active');
                    $('#d' + id).removeClass('active');

                    $('#' + valor).addClass('active');

                    var na = 0;
                    var c = 0;
                    var d = 0;
                    var i = 0;

                    var idcomen = $('#comentario' + id);

                    if (valor === 'd' + id) {
                        idcomen.removeAttr("disabled");
                        d = 1;
                        na = 0;
                        c = 0;
                    } else if (valor === 'na' + id) {
                        idcomen.attr("disabled", "disabled");
                        document.getElementById("comentario" + id).value = "";
                        this.comentario = null;
                        d = 0;
                        na = 1;
                        c = 0;
                    } else if (valor === 'c' + id) {
                        idcomen.attr("disabled", "disabled");
                        document.getElementById("comentario" + id).value = "";
                        this.comentario = null;
                        d = 0;
                        na = 0;
                        c = 1;
                    }

                    this.mObservaciones.map(function(o) {
                        if (o.odtSubNiveles_id === odtSubNivel) {
                            o.na = na;
                            o.correcto = c;
                            o.desvio = d;
                        } else {
                            i = i + 1;
                        }
                    })
                    console.log("largo observaciones");
                    console.log(this.mObservaciones.length);
                    console.log("largo i");
                    console.log(i);
                    console.log("observaciones123456");
                    console.log(this.mObservaciones);
                    if (i === this.mObservaciones.length) {
                        this.mObservaciones.push({
                            odtSubNiveles_id: odtSubNivel,
                            na: na,
                            correcto: c,
                            desvio: d,
                            comentario: null,
                            sub_niveles_codigo: subNivel.sub_niveles_codigo,
                            sub_niveles_nombre: subNivel.sub_niveles_nombre,
                            sub_niveles_id: subNivel.sub_niveles_id,
                            niveles_id: subNivel.niveles_id
                        })
                    }

                    if (d === 0) {
                        this.DsubNivel = this.DsubNivel.filter(function(data) {
                            console.log("data: d===0");
                            console.log(data);
                            if (data.sub_niveles_id !== subNivel.sub_niveles_id) {
                                return data;
                            }
                        });
                    }


                    if (valor === 'd' + id) {
                        console.log("desvio seleccionado");
                        var existe = 0;
                        this.Desvios.map(function(data) {                            
                            if (data.niveles_id === observacion.niveles_id) {
                                existe = 1;
                                console.log("encontrado: "+  'd'+id);
                            } else {
                                console.log("no encontrado: "+  'd'+id);
                                existe = 0;
                            }
                        });
                        if (existe === 0) {
                            this.Desvios.push({
                                NivelesOdts_id: observacion.NivelesOdts_id,
                                niveles_id: observacion.niveles_id,
                                odts_id: observacion.odts_id
                            })
                            this.responsableNivel.push({
                                NivelesOdts_id: observacion.NivelesOdts_id,
                                idResponsable: this.idR
                            })
                        }

                        var existe2 = 0;
                        this.DsubNivel.map(function(data) {

                            if (data.sub_niveles_id === subNivel.sub_niveles_id) {
                                existe2 = 1;
                            }else{
                                existe2 = 0;
                            }
                        });
                        if (existe2 === 0) {
                            this.DsubNivel.push({
                                niveles_id: subNivel.niveles_id,
                                sub_niveles_id: subNivel.sub_niveles_id,
                                sub_niveles_codigo: subNivel.sub_niveles_codigo,
                                sub_niveles_nombre: subNivel.sub_niveles_nombre
                            })
                            this.OSN.push({
                                NivelesOdts_id: observacion.NivelesOdts_id,
                                OdtSubNiveles_id: odtSubNivel,
                                sub_niveles_codigo: subNivel.sub_niveles_codigo,
                                sub_niveles_nombre: subNivel.sub_niveles_nombre
                            })
                        }
                    }else {
                        var aux = 0;
                        this.DsubNivel.map(function(d){
                            if (d.niveles_id === observacion.niveles_id){
                                aux++;
                            } 
                        });
                        if (aux === 0){
                            this.Desvios = this.Desvios.filter(function(data){
                                if (data.niveles_id !== observacion.niveles_id){
                                    return data;
                                } 
                            });                             
                        }                         
                        this.DsubNivel = this.DsubNivel.filter(function(data){
                            if (data.sub_niveles_id !== subNivel.sub_niveles_id){
                                return data;
                            }
                        });                        
                        this.OSN=this.OSN.filter(function(data){
                            if(data.OdtSubNiveles_id!==odtSubNivel){
                                console.log("ODTSUBNIVELID");
                                console.log(odtSubNivel);
                                return data;
                            } 
                        });
                        
                       console.log("AUX");
                       console.log(aux);
                        
                    }
                    console.log("DESVIOS");
                    console.log(this.Desvios);
                    console.log("DsubNivel");
                    console.log(this.DsubNivel);
                    console.log("OSN");
                    console.log(this.OSN);
                    // console.log("desvios for:");
                    // console.log(this.Desvios);
                },
                causaR(id) {
                    for (var i = 1; i <= 8; i++) {
                        $('#a' + i).removeClass('active');
                    }
//                    console.log("id: " + id);
                    var idNivelesOdts = this.NivelesOdts_id;
                    var data = [];
                    var i = 0;
                    this.causa_raiz.map(function(datas) {
                        if (idNivelesOdts === datas.NivelesOdts_id) {
                            i = 1;
                        }
                    });

                    if (i === 0) {
                        this.causa_raiz.push({
                            causa_raiz_id: id,
                            NivelesOdts_id: this.NivelesOdts_id
                        });
                    } else {
                        this.causa_raiz.map(function(d) {
                            if (d.NivelesOdts_id === idNivelesOdts) {
                                d.causa_raiz_id = id;
                            }
                        })
                    }

                    $('#causaRaiz').modal('hide');
//                    console.log(this.causa_raiz)
                },

                cancelarCausa() {
                    for (var i = 1; i <= 8; i++) {
                        $('#a' + i).removeClass('active');
                    }
                },
                addObservaciones(id, odtsn_id, sub) {
                    var na = 0;
                    var c = 0;
                    var d = 0;
                    if ($('#na' + id).hasClass('active')) {
                        na = 1;
                    }
                    if ($('#c' + id).hasClass('active')) {
                        c = 1;
                    }
                    if ($('#d' + id).hasClass('active')) {
                        d = 1;
                    }

                    var comentario = $('#comentario' + id).val();

                    this.mObservaciones.map(function(o) {
                        if (o.odtSubNiveles_id === odtsn_id) {
                            o.comentario = comentario;
                        }
                    })
//                    var desvio = 0;
//                    var comentario1 = 0;
//
//                    this.mObservaciones.map(function(data) {
//                        if (data.desvio === 1) {
//                            desvio = desvio + 1;
//                            if (data.comentario !== null && data.comentario !== "") {
//                                comentario1 = comentario1 + 1;
//                            }
//                        }
//                    });
//                    if (desvio !== 0) {
//                        $('#desvioError').addClass('d-none');
//                        if (comentario1 === desvio) {
//                            this.getNext();
//                            $('#desvioComentarioError').addClass('d-none');
//                        } else {//
//                            $('#desvioComentarioError').removeClass('d-none');
//                        }
//                    } else {
//                        $('#desvioError').removeClass('d-none');
//                    }
                    this.NextOdtD();
//                    console.log(this.mObservaciones);
                },
                /* getNext() {
                    var desvio = 0;
                    var comentario1 = 0;
                    this.mObservaciones.map(function(data) {
                        if (data.desvio === 1) {
                            desvio = desvio + 1;
                            if (data.comentario !== null && data.comentario !== "") {
                                comentario1 = comentario1 + 1;
                            }
                        }
                    });
                    var LLENO = 0;
                    var DESVIO = 0;
                    var COMENTARIO = 0;
                    var next = $('#nextodt12');
                    if (this.mObservaciones.length === this.odtSubNiveles.length) {
                        $('#NoLlenoError').addClass('d-none');
                        LLENO = 1;
                    } else {
                        $('#NoLlenoError').removeClass('d-none');
                        LLENO = 0;
                    }
                    if (desvio !== 0) {
                        $('#desvioError').addClass('d-none');
                        DESVIO = 1;
                    } else {
                        $('#desvioError').removeClass('d-none');
                        DESVIO = 0;
                    }
                    if (comentario1 === desvio) {
                        $('#desvioComentarioError').addClass('d-none');
                        COMENTARIO = 1;
                    } else {
                        $('#desvioComentarioError').removeClass('d-none');
                        COMENTARIO = 0;
                    }
                    if (LLENO === 1 && DESVIO === 1 && COMENTARIO === 1) {
                        next.removeAttr("disabled");
                    } else {
                        next.attr("disabled", "disabled");
                    }
                },*/
                getData() {
                    var url = '@Url.Action("datosOdt", "Odts")';
                    this.odt_id = @ViewBag.odt_id;
                    
                    var data = { id: this.odt_id };
//                    console.log(this.odt_id);
                    axios.post(url, data).then(response => {
                        this.odtTareas = response.data.ot;
                        console.log("odtTareas");
                        console.log(this.odtTareas);
                        this.getSub();
                        this.getData2();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                    var urlSubTareas = '@Url.Action("datosSubTareas", "SubTareas")';
                    axios.post(urlSubTareas, data).then(response => {
                        this.odtSubTareas = response.data.ost;
                        var datos = [];
                        this.odtSubTareas.map(function(data) {
                            datos.push({
                                OdtSubTareas_id: data.OdtSubTareas_id,
                                valor: 0
                            });
                        });
                        this.Condiciones = datos;
                        console.log("odt");
                        console.log(this.Condiciones);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                    var urlUser = '@Url.Action("allUsers", "User")';
                    axios.get(urlUser).then(response => {
                        this.users = response.data;

                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getSub() {
                    var urlSubT = '@Url.Action("getSubTareas", "SubTareas")';
                    axios.get(urlSubT).then(response => {
                        var ot = this.odtTareas;
                        this.subTareas = response.data;
                        this.subTareas = this.subTareas.filter(function(data) {
                            var i = 0;
                            ot.map(function(o) {
                                if (o.tareas_id === data.tareas_id) {
                                    i = 1;
                                }
                            })
                            if (i === 1) {
                                return data;
                            }
                        })
                        console.log("subTareas");
                        console.log(this.subTareas);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getData2() {
                    var urlTareas = '@Url.Action("getTareas", "Tareas")';
                    axios.get(urlTareas).then(response => {
                        this.tareas = response.data;

                        var data = [];
                        var tareas = this.tareas;

                        var ot = this.odtTareas;

                        this.tareas = this.tareas.filter(function(data) {
                            var i = 0;
                            ot.map(function(o) {
                                if (o.tareas_id === data.tareas_id) {
                                    i = 1;
                                }
                            })
                            if (i === 1) {
                                return data;
                            }
                        })
                        this.odtTareas.map(function(d) {
                            tareas.map(function(t) {
                                if (t.tareas_id === d.tareas_id) {
                                    data.push({
                                        OdtTareas_id: d.OdtTareas_id,
                                        tareas_titulo: t.tareas_titulo,
                                        tareas_id: t.tareas_id,
                                    })
                                }
                            })
                        })
                        console.log("tareas");
                        console.log(this.tareas);
                        this.TareasS = data;
//                        console.log("tareas123");
//                        console.log(response.data);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getObservaciones() {
                    var url = '@Url.Action("getOdtNiveles", "Niveles")';

                    var data = { id: this.odt_id };
                    axios.post(url, data).then(response => {
                        this.odtObservaciones = response.data.no;
//                        console.log("no");
//                        console.log(this.odtObservaciones);
                        this.getObservaciones2();
                    }).catch(error => {
                        console.log("error: " + error);
                    });

                },
                getObservaciones2() {
                    var urlobt = '@Url.Action("getNiveles", "Niveles")';
                    axios.get(urlobt).then(response => {
                        this.observaciones = response.data;
                        var no = this.odtObservaciones;
                        this.observaciones = this.observaciones.filter(function(data) {
                            var i = 0;
                            no.map(function(n) {
                                if (n.niveles_id === data.niveles_id) {
                                    i = 1;
                                }
                            });
                            if (i === 1) {
                                return data;
                            }
                        });
//                        console.log("observaciones1")
//                        console.log(this.observaciones);
//                        console.log("NOOOOOO")
//                        console.log(no);
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
                getSubNiveles() {
                    var url = '@Url.Action("getOdtSubNiveles", "SubNiveles")';
                    var data = { id: this.odt_id };
                    axios.post(url, data).then(response => {
                        this.odtSubNiveles = response.data.osn;
                        console.log("odtSubNiveles");
                        console.log(this.odtSubNiveles);
                        this.getSN();
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
                getSN() {
                    var urlobt = '@Url.Action("getSubNiveles", "SubNiveles")';
                    axios.get(urlobt).then(response => {
                        var sn = this.odtSubNiveles;
                        this.subniveles = response.data;
                        this.subniveles = this.subniveles.filter(function(data) {
                            var i = 0;
                            sn.map(function(s) {
                                if (s.sub_niveles_id === data.sub_niveles_id) {
                                    i = 1;
                                }
                            })
                            if (i === 1) {
                                return data
                            }
                        })
//                        console.log("subNiveles")
//                        console.log(this.subniveles);
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
                validaCheckbox(subTarea, checkbox) {
                    var checked = checkbox.checked;
                    if (checked) {
                        this.Condiciones.map(function(data) {
                            if (data.OdtSubTareas_id === subTarea.OdtSubTareas_id) {
                                data.valor = 1;
                            }
                        })
//                        console.log(this.Condiciones);
                    } else {
                        this.Condiciones.map(function(data) {
                            if (data.OdtSubTareas_id === subTarea.OdtSubTareas_id) {
                                data.valor = 0;
                            }
                        })
//                        console.log(this.Condiciones);
                    }
                },
                validarCheck(subTarea) {
                    console.log("check");
                    console.log(subTarea);
                    var checkbox = document.getElementById('customCheck' + subTarea.sub_tareas_id);
                    checkbox.addEventListener("change", this.validaCheckbox(subTarea, checkbox), false);
                },
                anonimo() {
                    var checkbox = document.getElementById('anonimo');
                    checkbox.addEventListener("change", this.isAnonimo(checkbox), false);
                },
                isAnonimo(checkbox) {
                    var checked = checkbox.checked;
                    if (checked) {
                        $('#observador').attr("type", "password");
                        this.oAnonimo = 1;
                    } else {
                        $('#observador').attr("type", "text");
                        this.oAnonimo = 0;
                    }
                    console.log(this.oAnonimo)
                },
                GetNegocio() {
                    var url = '@Url.Action("GetNegocio", "Negocio")';
                    axios.get(url).then(response => {
                        this.negocios = response.data;
                    })
                },
                GetGerencia() {
                    var url = '@Url.Action("GetGerencia", "Gerencia")';
                    axios.get(url).then(response => {
                        this.gerencias = response.data;
//                        console.log("gerencia");
//                        console.log(response.data);
                    })
                },
                GetArea() {
                    var url = '@Url.Action("GetArea", "Area")';
                    axios.get(url).then(response => {
                        this.areas = response.data;
//                        console.log("areas");
//                        console.log(this.areas);
                    })
                },
                validNext() {
                    if (this.HoldingId !== null &&
                        this.NegocioId !== null &&
                        this.GerenciaId !== null &&
                        this.AreaId !== null &&
                        /*this.ec !== null&&*/
                        this.trabajo !== null &&
                        this.turno !== null && 
                        this.empresa !== null && 
                        this.contratista !== null){
                        console.log("empresaAAAAAAAAAAAAAA");
                        console.log(this.empresa);
                        console.log("contratistAAAAAAAAAAa");
                        console.log(this.contratista);
                        /*console.log("OBSERVADOOOOOOOOOOOR");
                        console.log(this.observadoId);*/
                        $('#next').removeAttr("disabled","disabled");
                    }
                    if( this.HoldingId === null ||
                        this.NegocioId === null ||
                        this.GerenciaId === null ||
                        this.AreaId === null ||
                        /*this.ec === null ||*/
                        this.trabajo === null ||
                        this.turno === null ||
                        /*(this.observadoId === null || isNaN(this.observadoId) || this.observadoId === undefined) &&  (*/this.empresa === null || this.contratista === null)/*)*/{
                        console.log("empresoooooooo");
                        console.log(this.empresa);
                        console.log("controoooooo");
                        console.log(this.contratista);
                        /*console.log("obssssssssssssssssssssssssss");
                        console.log(this.observadoId);*/
                        $('#next').attr("disabled", "disabled");
                    }
                },
                empcontr() {
                    if (this.HoldingId !== null &&
                        this.NegocioId !== null &&
                        this.GerenciaId !== null &&
                        this.AreaId !== null &&
                        /*this.ec !== null&&*/
                        this.trabajo !== null &&
                        this.turno !== null) {
                        if( /*this.observadoId !== null && !isNaN(this.observadoId) || */this.empresa !== null && this.contratista !== null){
                            console.log("empresaAAAAAAAAAAAAAA");
                            console.log(this.empresa);
                            console.log("contratistAAAAAAAAAAa");
                            console.log(this.contratista);
                            $('#next').removeAttr("disabled","disabled");
                        }
                    }
                    if (this.empresa === null || this.contratista === null || this.empresa==="" || this.contratista==="") {
                        $('#next').attr("disabled", "disabled");
                    }
                },
                GetHoldingId(id) {
                    this.HoldingId = id;
                    $('#negocio').removeAttr('disabled');
                    $('#negocioError').removeClass('d-none');
                    for (var i = 1; i <= 3; i++) {
                        $('#select' + i).removeClass("active");
                    }
                    $('#select' + id).addClass("active");
                    $('#gerencia').attr("disabled", "disabled");
                    $('#area').attr("disabled", "disabled");
                    this.GerenciaId = '';
                    this.NegocioId = '';
                    if (this.HoldingId !== null) {
                        $('#holdingError').addClass('d-none');
                        if (id === 1) {
                            this.HoldingName = "Esmax Distr.";
                        }else if (id === 2) {
                            this.HoldingName = "Esmax red";
                        }else if (id === 3) {
                            this.HoldingName = "Esmax ind";
                        }
                    }
                    this.validNext();
                },
                GetNegocioId(id) {
                    var select = document.getElementById(id);
                    var nId = select.options[select.selectedIndex].id;
                    if (nId === 'negocio0') {
                        $('#gerencia').attr("disabled", "disabled");
                        $('#area').attr("disabled", "disabled");
                        this.GerenciaId = '';
                        this.NegocioId = '';
                    } else {
                        this.NegocioId = parseInt(nId);
                        $('#gerencia').removeAttr('disabled');
                        $('#area').attr("disabled", "disabled");
                        if (this.NegocioId !== null) {
                            $('#negocioError').addClass('d-none');
                            $('#gerenciaError').removeClass('d-none');
                            this.negocioName = $('#' + id).val();
                        }
                        this.GerenciaId = '';
//                        console.log("negocioid");
//                        console.log(nId);
                    }
                    this.validNext();
                },
                GetGerenciaId(id) {
                    var select = document.getElementById(id);
                    var gId = select.options[select.selectedIndex].id;
                    if (gId === 'gerencia0') {
                        $('#area').attr("disabled", "disabled");
                        this.AreaId = '';
                        this.GerenciaId = '';
                    } else {
                        this.GerenciaId = parseInt(gId);
                        if (this.GerenciaId !== null) {
                            $('#gerenciaError').addClass('d-none');
                            $('#areaError').removeClass('d-none');
                            this.gerenciaName = $('#' + id).val();
                        }
                        $('#area').removeAttr('disabled');
//                        console.log("gerenciaid");
//                        console.log(gId);
                    }
                    this.validNext();
                },

                GetAreaId(id) {
                    var select = document.getElementById(id);
                    var aId = select.options[select.selectedIndex].id;
                    this.AreaId = parseInt(aId);
                    if (this.AreaId !== null) {
                        $('#areaError').addClass('d-none');
                        this.areaName = $('#' + id).val();
                    }
//                    console.log("areaid");
//                    console.log(aId);

                    var oId = parseInt(aId);

                    dato = this.areas.filter(function(data) {
                        if (data.area_id === oId) {
                            return data.responsable_id;
                        }
                    });

                    var idResponsable = dato[0].responsable_id;

                    this.idR = idResponsable;

                    var id2 = toString(idResponsable);
                    console.log("userrrrr");
                    this.oResponsable = this.users.filter(function(data) {
                        if (data.Id === "" + idResponsable) {
                            return data;
                        }
                    });
                    console.log(this.idR);
                    this.validNext();
                },
                /*GetObservado() {
                    var value = $('#obs').val();
                    var oId = $('#observado [value="' + value + '"]').data('id');
                    console.log("observadoidccdcece");
                    console.log(oId);
//                    var oId = select.options[select.selectedIndex].id;
                    if (isNaN(oId) || oId === null) {
                        $('#obsError').removeClass('d-none');
                        this.observadoId = null;
//                        $('#next').attr("disabled", "disabled");
                        this.validNext();
                    } else {
                        $('#obsError').addClass('d-none');
                        //$('#next').removeAttr("disabled");
                        this.observadoId = parseInt(oId);
                        console.log("observadoid");
                        console.log(oId);
                        this.validNext();
                    }
                },*/
                getResponsable(Nid) {
                    var value = $('#responsable' + Nid).val();
                    var rId = $('#responsable [value="' + value + '"]').data('id');
                    
                    if (isNaN(rId) || rId === null) {
                        $('#responsableError').removeClass('d-none');
                        $('#fin').attr("disabled", "disabled");
                    } else {
                        $('#responsableError').addClass('d-none');
                        $('#fin').removeAttr("disabled");
                        console.log("Responsable");
                        console.log(rId);
                        this.responsableNivel.map(function(r) {
                            if (r.NivelesOdts_id === Nid) {
                                r.idResponsable = rId;
                            }
                        })
                        console.log("Responsable2");
                        console.log(this.responsableNivel);
                    }

                },
                getAccion(idN) {
                    var accion = $('#accion' + idN).val();
                    console.log(accion);
                    this.getAcciones.push({
                        accion: accion,
                        NivelesOdts_id: idN
                    })
                },
                getCumplimiento(idN) {
                    var select = document.getElementById('cunplimiento' + idN);
                    var cId = select.options[select.selectedIndex].id;
                    this.getCumplimientos.push({
                        cumplimiento_id: cId,
                        NivelesOdts_id: idN
                    })
                    console.log("cumplimiento");
                    console.log(cId);
                },
                finalizar() {
                    
                    var desvios = this.Desvios;
                    var causa = this.causa_raiz;
                    var cum = this.getCumplimientos;
                    var accion = this.getAcciones;
                    var i = 0, e = 0, w = 0, q = 0;

                   
                    if (causa.length !== desvios.length) {
                        $('#causaError').removeClass('d-none');
                    } else {
                        $('#causaError').addClass('d-none');
                        e = 1;
                    } 
                    if (cum.length !== desvios.length) {
                        $('#fechaError').removeClass('d-none');

                    } else {
                        $('#fechaError').addClass('d-none');
                        w = 1;
                    }
                    if (accion.length !== desvios.length) {
                        $('#accionError').removeClass('d-none');
                    }else{
                        $('#accionError').addClass('d-none');
                        q = 1;
                    }
                    if ( e === 1 && w === 1 && q === 1) {
                        var observadorId = parseInt(this.observador_id);
                        var DatosGenerales = {
                            holding_id: this.HoldingId,
                            negocio_id: this.NegocioId,
                            gerencia_id: this.GerenciaId,
                            area_id: this.AreaId,
                            observador: observadorId,
                            observado_id: this.observadoId,
                            fecha: this.GetFecha,
                            anonimo: this.oAnonimo,
                            ec: this.ec,
                            trabajo: this.trabajo,
                            turno: this.turno,
                            hora: this.GetHora,
                            empresa: this.empresa,
                            contratista: this.contratista
                        }
    
                        var Condiciones = this.Condiciones;
    
                        var Observaciones = this.mObservaciones;
    
                        var Analisis = {
                            comentarios: this.Acomentarios,
                            conclusiones: this.Aconclusiones,
                            retroalimentacion: this.retroalimentacion,
                            fecha_sesion: this.fechaAnalisis
                        }
    
                        var PlanAccion = [];
                        var acciones = this.getAcciones;
                        var cumplimiento = this.getCumplimientos;
    
                        var SubNiveles = this.OSN;
                        var responsable = this.responsableNivel;
    
                        var idR = this.idR;
                        var desvio_si_no = this.desvio_si_no;
    
                        this.causa_raiz.map(function(causa) {
                            acciones.map(function(accion) {
                                cumplimiento.map(function(cum) {
                                    responsable.map(function(r) {
                                        if (r.NivelesOdts_id === cum.NivelesOdts_id &&
                                            r.NivelesOdts_id === cum.NivelesOdts_id &&
                                            r.NivelesOdts_id === accion.NivelesOdts_id &&
                                            r.NivelesOdts_id === causa.NivelesOdts_id) {
                                            PlanAccion.push({
                                                NivelesOdts_id: cum.NivelesOdts_id,
                                                causa_raiz_id: causa.causa_raiz_id,
                                                accion: accion.accion,
                                                cumplimiento: cum.cumplimiento_id,
                                                responsable_id: r.idResponsable
                                            })
                                        }
                                    })
                                })
                            })
                        })
                        
                        var respuestOdt1 = {
                            id: this.odts_id,
                            holdingName: this.HoldingName,
                            negocioName: this.negocioName,
                            gerenciaName: this.gerenciaName,
                            areaName: this.areaName
                        }
    
                        console.log("datos generales");
                        console.log(DatosGenerales);
    
                        var urlRespuesta = '@Url.Action("Respuesta2", "RespuestaOdt")';
    
                        var a =$.dialog({
                            icon: 'fa fa-spinner fa-spin',
                            title: 'Cargando...',
                            content: '',
                            closeIcon: false
                        });
                        axios.post(urlRespuesta,
                            {
                                id: this.odt_id,
                                respuestOdt1,
                                DatosGenerales,
                                Condiciones,
                                Observaciones,
                                Analisis,
                                PlanAccion,
                                SubNiveles,
                                Desvios: this.Desvios,
                                Tareas: this.TareasS,
                                desvio_si_no
                            }).then(response => {
                            a.close();
                            $.confirm({
                                title: 'Se ha respondido correctamente.',
                                content: 'Se a enviado una alerta por correo al/los responsable.',
                                type: 'green',
                                typeAnimated: true,
                                buttons: {
                                    tryAgain: {
                                        text: 'Aceptar',
                                        btnClass: 'btn-green',
                                        action: function(){
                                            window.location = '@Url.Action("listRespuestas", "RespuestaOdt")';
                                        }
                                    },
                                }
                            });
                            
                        }).catch(error => {
                            $.confirm({
                                title: 'Error!',
                                content: 'A ocurrido un error, intentelo nuevamente.',
                                type: 'red',
                                typeAnimated: true,
                                buttons: {
                                    Cerrar: function () {
                                        window.location.reload();
                                    }
                                }
                            });
                            console.log("error: " + error);
                            
                        })
    
                        console.log("datos enviados");
                        console.log(this.odt_id);
                        console.log(DatosGenerales);
                        console.log(Condiciones);
                        console.log(Observaciones);
                        console.log(Analisis);
                        console.log(PlanAccion);
                        console.log(SubNiveles);
                        console.log(this.Desvios);
                        console.log(this.TareasS);
                    }

            },
                reload() {
                    this.retroalimentacion = $('input:radio[name=customRadio]:checked').val();
                    console.log("retroalimentacion");
                    console.log(this.retroalimentacion);
                    var retro = this.retroalimentacion;
    
                    if (retro === "0") {
                        $('#fechaAnali').attr("disabled", "disabled");
                        $('#fechaAnali').val('');
                    }
                    if (retro === "1") {
                        $('#fechaAnali').removeAttr("disabled");
                    }
    
    
                },
                /*reload1() {
                    this.ec = $('input:radio[name=customRadio1]:checked').val();
                    console.log("EMPLEADO CONTRATISTA")
                    console.log(this.ec);
                    if (this.ec === "Empleado") {
                        this.empresa = null;
                        this.contratista = null;
                        $('#emp').removeClass("d-none");
                        $('#empr').addClass("d-none");
                        $('#contr').addClass("d-none");
    //                    $('#obs').attr("required");
    //                    $('#contra').removeAttr("required");
    //                    $('#empre').removeAttr("required");
                        document.getElementById("contra").value = null;
                        document.getElementById("empre").value = null;
                    }else if (this.ec === "Contratista") {
                        this.observadoId = null;
                        document.getElementById("obs").value = null;
                        $('#emp').addClass("d-none");
                        $('#empr').removeClass("d-none");
                        $('#contr').removeClass("d-none");
    //                    $('#contra').attr("required");
    //                    $('#empre').attr("required");
    //                    $('#obs').removeAttr("required");
                    }
                    this.validNext();
    
                },*/
                reload2() {
                    this.trabajo = $('input:radio[name=customRadio2]:checked').val();
                    this.validNext();
                },
                reload3() {
                    this.turno = $('input:radio[name=customRadio3]:checked').val();
                    this.validNext();
                },
    
                holding(id) {
                    for (var i = 1; i <= 3; i++) {
                        $('#select' + i).removeClass("active");
                    }
                    $('#select' + id).addClass("active");
                },
                datos() {
                    var fecha = $('#fecha').val();
                    this.GetFecha = fecha;
                },
                getfechaAnalisis() {
                    var fechaA = $('#fechaAnali').val();
                    this.fechaAnalisis = fechaA;
                },
                //                NextOdtNA() {
    //                    var na = $('#na');  
    //                    var c = $('#c');  
    //                    var d = $('#d');  
    //                    var next= $('#nextodt12');
    //                    
    //                    if (na.hasClass('next')) {
    //                        na.removeClass('next');
    //                        c.addClass('next');
    //                        d.addClass('next');     
    //                    }
    //
    //                    if (!na.hasClass("next") || !c.hasClass("next") || !d.hasClass("next")){
    //                        
    //                        next.removeAttr("disabled");
    //
    //                    }
    //                    if (na.hasClass("next") && c.hasClass("next") && d.hasClass("next")){
    //                        next.Attr("disabled");
    //                    }
    //                },
    //                NextOdtC() {
    //                    var na = $('#na');  
    //                    var c = $('#c');  
    //                    var d = $('#d');  
    //                    var next= $('#nextodt12');
    //                    
    //                    if (c.hasClass('next')) {
    //                        c.removeClass('next');
    //                        na.addClass('next');
    //                        d.addClass('next');     
    //                    }
    //
    //                    if (!na.hasClass("next") || !c.hasClass("next") || !d.hasClass("next")){
    //                        
    //                        next.removeAttr("disabled");
    //
    //                    }
    //                    if (na.hasClass("next") && c.hasClass("next") && d.hasClass("next")){
    //                        next.Attr("disabled");
    //                    }
    //                },
                NextOdtD() {
                    var na = $('#na');
                    var c = $('#c');
                    var d = $('#d');
                    var next = $('#nextodt12');
                    var correctooo= $('button[name="correctooo"]');
                    console.log("CORRECTOOOO");
                    console.log(correctooo);
    
                    var desvio = 0;
                    var comentario = 0;
    
                    this.mObservaciones.map(function(data) {
                        if (data.desvio === 1) {
                            desvio = desvio + 1;
                            if (data.comentario !== null && data.comentario !== "" && data.comentario!==undefined) {
                                console.log("SUMANDO");
                                comentario = comentario + 1;
                                console.log("COMENTARIOS: ", comentario);
                            }if(correctooo.hasClass("active") && comentario>0 && (data.comentario === null || data.comentario === "" || data.comentario===undefined)){
                                comentario= comentario -1;
                                console.log("RESTANDO");
                                console.log("COMENTARIOS: ", comentario);
                            }
                        }
                    });
                    if (this.mObservaciones.length === this.odtSubNiveles.length) {
                        if (desvio !== 0) {
                            $('#alert_sin_desvios').addClass("d-none");
                            this.desvio_si_no = 1;
                            console.log("desvio_si_no");
                            console.log(this.desvio_si_no);
                            console.log("DESVIO !=0");
                            next.removeClass("d-none");
                            console.log("DESVIO CANTIDAD");
                            console.log(desvio);
                            console.log("COMENTARIO CANTIDAD");
                            console.log(comentario);
                            if (comentario === desvio) {
                                console.log("DESVIO CON COMENTARIOS");
                                console.log("COMENTARIO");
                                console.log(this.mObservaciones.comentario);
                                next.removeAttr("disabled");
                                $('#desvioComentarioError').addClass('d-none');
                            } else {
                                console.log("FALTAN COMENTARIOS");
                                next.attr("disabled", "disabled");
                                $('#desvioComentarioError').removeClass('d-none');                            
                            }
                        } else {    
                            next.removeAttr("disabled");
                            console.log("LLENO SIN DESVIO");
                            $('#alert_sin_desvios').removeClass("d-none");
                            this.desvio_si_no = 0;
                            console.log("desvio_si_no");
                            console.log(this.desvio_si_no);
    
                        }
                    }else{
                        console.log("NO ESTA TODO LLENO");
                        $('#NoLlenoError').addClass('d-none');
                        next.attr("disabled", "disabled");                    
                    }             
                    if (d.hasClass('next')) {
                        d.removeClass('next');
                        c.addClass('next');
                        na.addClass('next');
                    }
    
                    /*this.getNext();*/
    
    //                if (!d.hasClass("next")) {
    //
    //                    next.removeAttr("disabled");
    //
    //                }
    //                if (na.hasClass("next") && c.hasClass("next") && d.hasClass("next")) {
    //                    next.Attr("disabled");
    //                }
    
                    //$('#desvioError').addClass('d-none');
                },
                validarDesvios() {
    
                }


        }
    });
       
    </script>
}