<div class="tab-pane mt-3" id="actividades">
    <div class="row justify-content-center">
        <div class="mb-2 mt-0 col-lg-5 offset-1">
            <div class="form-group m-1 d-inline-block">
                <button  type="submit" class="btn btn-warning" disabled>No aplica</button>       
            </div> 
            <div class="form-group m-1 d-inline-block">
                <button  type="submit" class="btn btn-success mt-0" disabled>Si</button>       
            </div>       
            <div class="form-group m-1 d-inline-block">
                <button  type="submit" class="btn btn-danger mt-0" disabled>Desvio</button>       
            </div> 
        </div>
        <!--Accordion wrapper-->
        <div class="accordion col-lg-8" id="Act" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card p-0" v-for="actividad in Actividades">

                <!-- Card header -->
                <div class="row">
                    <div class="card-header p-2 col-md-10" role="tab" id="headingOne1">
                        <h2 class="mb-0" style="font-size: initial;">
                            <button class="btn btn-link btn-block text-left text-decoration-none " type="button" style="background-color: transparent; color: #000000;" data-toggle="collapse" :data-target="'#collapseOne' + actividad.ActividadId" aria-expanded="true" aria-controls="collapseOne">
                                {{ actividad.ActividadNombre }}
                            </button>
                        </h2>
                    </div>
                    <div class="card-header p-2 col-md-2" role="tab" id="headingOne2" >
                        <h2 class="mb-0" style="font-size: initial;">
                            <button class="btn btn-link btn-block text-left text-decoration-none " style="color: black" type="button" style="background-color: transparent; color: #000000;" data-toggle="collapse" :data-target="'#collapseOne' + actividad.id" aria-expanded="true" aria-controls="collapseOne">
                                {{actividad.aprobado}}

                            </button>
                        </h2>
                    </div>
                </div>

                <!-- Card body -->
                <div :id="'collapseOne' + actividad.ActividadId" class="collapse" aria-labelledby="headingOne" data-parent="#Act">
                    <div class="card-body p-0" style="border-bottom: 1px solid #DFDFDF; padding-bottom: 0px;">
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="width: 50%">Pregunta</th>
                                <th>Respuesta</th>
                                <th>Comentario</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="pregunta in Preguntas" v-if="pregunta.ActividadId === actividad.ActividadId">
                                <td>{{ pregunta.pregunta}}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" :id="'na' + pregunta.PreguntaId" v-on:click="respuesta('na' + pregunta.PreguntaId, pregunta)" class="btn btn-outline-warning btn-sm"><i class="fa fa-minus"></i></button>
                                        <button type="button" :id="'si' + pregunta.PreguntaId" v-on:click="respuesta('si' + pregunta.PreguntaId, pregunta)" class="btn btn-outline-success btn-sm"><i class="fa fa-check"></i></button>
                                        <button type="button" :id="'no' + pregunta.PreguntaId" v-on:click="respuesta('no' + pregunta.PreguntaId, pregunta)" class="btn btn-outline-danger btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </td>
                                <td>
                                    <input :id="'comentario'+pregunta.PreguntaId" v-on:change="comentario(pregunta)" type="text" class="form-group form-control m-0" disabled="disabled"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            <div class="footer">             
                <div class="text-right pull-right col-md-3">
                    <span class="h4 text-muted">{{total + "%"}}</span> 
                </div> 
                <div class="text-right pull-right col-md-4">
                    <span class="h4 text-muted">Total aprobado</span>
                </div>     
            </div>
        </div>
        
        <div style="margin-top: 1%" id="checkComents" class="alert alert-danger d-none" role="alert">
            <p>Cada desv&iacute;o debe tener un comentario asociado!</p>
        </div>
        <!-- Accordion wrapper -->
        </div>
    
        <div class="wizard-footer p-2 mt-5">
            <div class="float-right pr-2">
                <input type='button' class='btn btn-next btn-fill btn-info btn-wd' id="next2" v-on:click="validar" disabled name='next' value='Siguiente'/>
                <input type='button' class='btn btn-finish btn-fill btn-info btn-wd' v-on:click="finalizar" name='finish' id="finish" disabled="disabled" value='Finalizar'/>
            </div>
        <div class="float-left pl-2">
            <input type='button' class='btn btn-secondary btn-previous btn-fill' name='previous' value='Atr&aacute;s'/>
        </div>
        <div class="clearfix"></div>
    </div>
</div>