﻿/*!

 =========================================================
 * Material Bootstrap Wizard - v1.0.2
 =========================================================
 
 * Product Page: https://www.creative-tim.com/product/material-bootstrap-wizard
 * Copyright 2017 Creative Tim (http://www.creative-tim.com)
 * Licensed under MIT (https://github.com/creativetimofficial/material-bootstrap-wizard/blob/master/LICENSE.md)
 
 =========================================================
 
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 */


body {
    background-color: #E5E5E5;
    color: #3C4858;
}

::-webkit-scrollbar{
    width: 8px;    
    height: 8px;
    
}

::-webkit-scrollbar-thumb{
    background: #4470cc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
    background: #000acc;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

@-moz-document url-prefix(){
    #sidebard #logo{
        width:250px;
        padding:0px 50px 0px 50px;
        z-index:20;
        top:10px;
        position:absolute;
        left: 0px;
    }
}

::-webkit-scrollbar-thumb:active {
    background-color: #1818cc;
}

::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}


    body.inverse {
        background: #333333;
    }

        body.inverse, body.inverse .form-control {
            color: #ffffff;
        }

            body.inverse .modal,
            body.inverse .modal .form-control,
            body.inverse .panel-default,
            body.inverse .panel-default .form-control,
            body.inverse .card,
            body.inverse .card .form-control {
                background-color: initial;
                color: initial;
            }

blockquote p {
    font-style: italic;
}

.life-of-material-kit {
    background: #FFFFFF;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

.serif-font {
    font-family: "Roboto Slab", "Times New Roman", serif;
}

a {
    color: #000000;
}

    a:hover, a:focus {
        color: #303030;
        text-decoration: none;
    }

    a.text-info:hover, a.text-info:focus {
        color: #00a5bb;
    }

    a .material-icons {
        vertical-align: middle;
    }

legend {
    border-bottom: 0;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

    *:focus {
        outline: 0;
    }

a:focus, a:active,


input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner
 {
    outline: 0 !important;
}

.image-container {
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
}

    .image-container:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: .3;
    }

.made-with-mk {
    width: 50px;
    height: 50px;
    display: block;
    position: fixed;
    z-index: 555;
    bottom: 40px;
    right: 40px;
    border-radius: 30px;
    background-color: rgba(16, 16, 16, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 12px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    -moz-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    -o-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
}

    .made-with-mk:hover, .made-with-mk:active, .made-with-mk:focus {
        width: 218px;
        color: #FFFFFF;
        transition-duration: .55s;
        padding: 10px 19px;
    }

        .made-with-mk:hover .made-with, .made-with-mk:active .made-with, .made-with-mk:focus .made-with {
            opacity: 1;
        }

        .made-with-mk:hover .brand, .made-with-mk:active .brand, .made-with-mk:focus .brand {
            left: 0;
        }

    .made-with-mk .brand,
    .made-with-mk .made-with {
        float: left;
    }

    .made-with-mk .brand {
        position: relative;
        top: 4px;
        left: -1px;
        letter-spacing: 1px;
        vertical-align: middle;
        font-size: 16px;
        font-weight: 600;
    }

    .made-with-mk .made-with {
        color: rgba(255, 255, 255, 0.6);
        position: absolute;
        left: 58px;
        top: 14px;
        opacity: 0;
        margin: 0;
        -webkit-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
        -moz-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
        -o-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
        transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    }

        .made-with-mk .made-with strong {
            font-weight: 400;
            color: rgba(255, 255, 255, 0.9);
        }

.wizard-container {
    padding-top: 10px;
    z-index: 3;
}

    .wizard-container .wizard-navigation {
        position: relative;
    }

h1, .h1 {
    font-size: 3.8em;
    line-height: 1.15em;
}

h2, .h2 {
    font-size: 2.6em;
}

h3, .h3 {
    font-size: 1.825em;
    line-height: 1.4em;
    margin: 20px 0 10px;
}

h4, .h4 {
    font-size: 1.3em;
    line-height: 1.4em;
}

h5, .h5 {
    font-size: 1.25em;
    line-height: 1.4em;
    margin-bottom: 15px;
}

h6, .h6 {
    font-size: 0.9em;
    text-transform: uppercase;
}

.title,
.card-title,
.wizard-title {
    font-weight: 700;
}

    .title,
    .title a,
    .card-title,
    .card-title a,
    .wizard-title,
    .wizard-title a {
        color: #3C4858;
        text-decoration: none;
    }

h2.title {
    margin-bottom: 30px;
}

.description,
.card-description,
.footer-big p {
    color: #999999;
}

.text-warning {
    color: #ff9800;
}

.text-primary {
    color: #9c27b0;
}

.text-danger {
    color: #f44336;
}

.text-success {
    color: #4caf50;
}

.text-info {
    color: #00bcd4;
}

.card {
    background-color: #FFFFFF;
    padding: 10px 0;
    width: 100%;
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
}

.wizard-card {
    min-height: 410px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

    .wizard-card .picture-container {
        position: relative;
        cursor: pointer;
        text-align: center;
    }

    .wizard-card .picture {
        width: 106px;
        height: 106px;
        background-color: #999999;
        border: 4px solid #CCCCCC;
        color: #FFFFFF;
        border-radius: 50%;
        margin: 5px auto;
        overflow: hidden;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }

        .wizard-card .picture:hover {
            border-color: #2ca8ff;
        }

    .wizard-card .moving-tab {
        position: absolute;
        text-align: center;
        padding: 12px;
        font-size: 12px;
        text-transform: uppercase;
        -webkit-font-smoothing: subpixel-antialiased;
        top: -4px;
        left: 0px;
        border-radius: 4px;
        color: #FFFFFF;
        cursor: pointer;
        font-weight: 500;
    }

    .wizard-card[data-color="purple"] .moving-tab {
        background-color: #9c27b0;
        box-shadow: 0 16px 26px -10px rgba(156, 39, 176, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
    }

    .wizard-card[data-color="purple"] .picture:hover {
        border-color: #9c27b0;
    }

    .wizard-card[data-color="purple"] .choice:hover .icon, .wizard-card[data-color="purple"] .choice.active .icon {
        border-color: #9c27b0;
        color: #9c27b0;
    }

    

    

    .wizard-card[data-color="green"] .moving-tab {
        background-color: #4caf50;
        box-shadow: 0 16px 26px -10px rgba(76, 175, 80, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
    }

    .wizard-card[data-color="green"] .picture:hover {
        border-color: #4caf50;
    }

    .wizard-card[data-color="green"] .choice:hover .icon, .wizard-card[data-color="green"] .choice.active .icon {
        border-color: #4caf50;
        color: #4caf50;
    }

    

    

    .wizard-card[data-color="blue"] .moving-tab {
        background-color: #00bcd4;
        box-shadow: 0 16px 26px -10px rgba(0, 188, 212, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2);
    }

    .wizard-card[data-color="blue"] .picture:hover {
        border-color: #00bcd4;
    }

    .wizard-card[data-color="blue"] .choice:hover .icon, .wizard-card[data-color="blue"] .choice.active .icon {
        border-color: #00bcd4;
        color: #00bcd4;
    }

    

    

    .wizard-card[data-color="orange"] .moving-tab {
        background-color: #ff9800;
        box-shadow: 0 16px 26px -10px rgba(255, 152, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 152, 0, 0.2);
    }

    .wizard-card[data-color="orange"] .picture:hover {
        border-color: #ff9800;
    }

    .wizard-card[data-color="orange"] .choice:hover .icon, .wizard-card[data-color="orange"] .choice.active .icon {
        border-color: #ff9800;
        color: #ff9800;
    }

    

   

    .wizard-card[data-color="red"] .moving-tab {
        background-color: #f44336;
        box-shadow: 0 16px 26px -10px rgba(244, 67, 54, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
    }

    .wizard-card[data-color="red"] .picture:hover {
        border-color: #f44336;
    }

    .wizard-card[data-color="red"] .choice:hover .icon, .wizard-card[data-color="red"] .choice.active .icon {
        border-color: #f44336;
        color: #f44336;
    }

    

   

    

    .wizard-card .picture-src {
        width: 100%;
    }

    .wizard-card .tab-content {
        min-height: 340px;
        padding: 20px 15px;
    }

    .wizard-card .wizard-footer {
        padding: 0 15px;
    }

        .wizard-card .wizard-footer .checkbox {
            margin-top: 16px;
        }

    .wizard-card .disabled {
        display: none;
    }

    .wizard-card .wizard-header {
        text-align: center;
        padding: 25px 0 35px;
    }

        .wizard-card .wizard-header h5 {
            margin: 5px 0 0;
        }

    .wizard-card .nav-pills > li {
        text-align: center;
    }

  

    .wizard-card .info-text {
        text-align: center;
        font-weight: 300;
        margin: 10px 0 30px;
    }

    .wizard-card .choice {
        text-align: center;
        cursor: pointer;
        margin-top: 20px;
    }

        .wizard-card .choice .icon {
            text-align: center;
            vertical-align: middle;
            height: 116px;
            width: 116px;
            border-radius: 50%;
            color: #999999;
            margin: 0 auto 20px;
            border: 4px solid #CCCCCC;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
        }

        .wizard-card .choice i {
            font-size: 40px;
            line-height: 111px;
        }

        .wizard-card .choice:hover .icon, .wizard-card .choice.active .icon {
            border-color: #2ca8ff;
        }

        

    .wizard-card .btn-finish {
        display: none;
    }

    .wizard-card .description {
        color: #999999;
        font-size: 14px;
    }

    .wizard-card .wizard-title {
        margin: 0;
    }

legend {
    margin-bottom: 20px;
    font-size: 21px;
}

output {
    padding-top: 8px;
    font-size: 14px;
    line-height: 1.42857;
}





.radio label,
.checkbox label {
    min-height: 20px;
}


















.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    padding-top: 8px;
}

.form-horizontal .radio,
.form-horizontal .checkbox {
    min-height: 28px;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 8px;
    }
}

@media (min-width: 768px) {
    .form-horizontal .form-group-lg .control-label {
        padding-top: 13.0px;
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .form-horizontal .form-group-sm .control-label {
        padding-top: 4px;
        font-size: 11px;
    }
}

.label {
    border-radius: 3px;
}

    .label, .label.label-default {
        background-color: #FFFFFF;
    }

        .label.label-inverse {
            background-color: #212121;
        }

        .label.label-primary {
            background-color: #9c27b0;
        }

        .label.label-success {
            background-color: #4caf50;
        }

        .label.label-info {
            background-color: #00bcd4;
        }

        .label.label-warning {
            background-color: #ff9800;
        }

        .label.label-danger {
            background-color: #f44336;
        }

        .label.label-rose {
            background-color: #e91e63;
        }



   

    

    

  

.form-group {
    position: relative;
}

    .form-group.label-static label.control-label, .form-group.label-placeholder label.control-label, .form-group.label-floating label.control-label {
        position: absolute;
        pointer-events: none;
        transition: 0.3s ease all;
    }

    .form-group.label-floating label.control-label {
        will-change: left, top, contents;
    }

    .form-group.label-placeholder:not(.is-empty) label.control-label {
        display: none;
    }

    .form-group .help-block {
        position: absolute;
        display: none;
    }

    

        

    

    

  

    .form-group.is-focused.label-placeholder label,
    .form-group.is-focused.label-placeholder label.control-label {
        color: #AAAAAA;
    }

    .form-group.is-focused .help-block {
        display: block;
    }

   
    

    .form-group.has-warning label.control-label,
    .form-group.has-warning .help-block {
        color: #ff9800;
    }

    

    

    .form-group.has-error label.control-label,
    .form-group.has-error .help-block {
        color: #f44336;
    }

  
  

    .form-group.has-success label.control-label,
    .form-group.has-success .help-block {
        color: #4caf50;
    }

   

    

    .form-group.has-info label.control-label,
    .form-group.has-info .help-block {
        color: #00bcd4;
    }

    .form-group textarea {
        resize: none;
    }

       

    .form-group select {
        appearance: none;
    }

        



   

    

    

.checkbox label,
.radio label,
label {
    font-size: 14px;
    color: #AAAAAA;
    font-weight: 400;
}

    label.control-label {
        font-size: 11px;
        line-height: 1.07143;
        color: #AAAAAA;
        font-weight: 400;
        margin: 16px 0 0 0;
    }

.help-block {
    margin-top: 0;
    font-size: 11px;
}

.form-group {
    padding-bottom: 7px;
    margin: 27px 0 0 0;
}

   

        

        

        

    .form-group .checkbox label,
    .form-group .radio label,
    .form-group label {
        font-size: 14px;
        line-height: 1.42857;
        color: #AAAAAA;
        font-weight: 400;
    }

        .form-group label.control-label {
            font-size: 11px;
            line-height: 1.07143;
            color: #AAAAAA;
            font-weight: 400;
            margin: 16px 0 0 0;
        }

    .form-group .help-block {
        margin-top: 0;
        font-size: 11px;
    }

    .form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label {
        top: -7px;
        font-size: 14px;
        line-height: 1.42857;
    }

    .form-group.label-static label.control-label, .form-group.label-floating.is-focused label.control-label, .form-group.label-floating:not(.is-empty) label.control-label {
        top: -28px;
        left: 0;
        font-size: 11px;
        line-height: 1.07143;
    }

    

    .form-group.form-group-sm {
        padding-bottom: 3px;
        margin: 21px 0 0 0;
    }


            

            

            

        .form-group.form-group-sm .checkbox label,
        .form-group.form-group-sm .radio label,
        .form-group.form-group-sm label {
            font-size: 11px;
            line-height: 1.5;
            color: #AAAAAA;
            font-weight: 400;
        }

            .form-group.form-group-sm label.control-label {
                font-size: 9px;
                line-height: 1.125;
                color: #AAAAAA;
                font-weight: 400;
                margin: 16px 0 0 0;
            }

        .form-group.form-group-sm .help-block {
            margin-top: 0;
            font-size: 9px;
        }

        .form-group.form-group-sm.label-floating label.control-label, .form-group.form-group-sm.label-placeholder label.control-label {
            top: -11px;
            font-size: 11px;
            line-height: 1.5;
        }

        .form-group.form-group-sm.label-static label.control-label, .form-group.form-group-sm.label-floating.is-focused label.control-label, .form-group.form-group-sm.label-floating:not(.is-empty) label.control-label {
            top: -25px;
            left: 0;
            font-size: 9px;
            line-height: 1.125;
        }

        

    .form-group.form-group-lg {
        padding-bottom: 9px;
        margin: 30px 0 0 0;
    }

     

          

            

        .form-group.form-group-lg .checkbox label,
        .form-group.form-group-lg .radio label,
        .form-group.form-group-lg label {
            font-size: 18px;
            line-height: 1.33333;
            color: #AAAAAA;
            font-weight: 400;
        }

            .form-group.form-group-lg label.control-label {
                font-size: 14px;
                line-height: 1.0;
                color: #AAAAAA;
                font-weight: 400;
                margin: 16px 0 0 0;
            }

        .form-group.form-group-lg .help-block {
            margin-top: 0;
            font-size: 14px;
        }

        .form-group.form-group-lg.label-floating label.control-label, .form-group.form-group-lg.label-placeholder label.control-label {
            top: -5px;
            font-size: 18px;
            line-height: 1.33333;
        }

        .form-group.form-group-lg.label-static label.control-label, .form-group.form-group-lg.label-floating.is-focused label.control-label, .form-group.form-group-lg.label-floating:not(.is-empty) label.control-label {
            top: -32px;
            left: 0;
            font-size: 14px;
            line-height: 1.0;
        }

        












/*            Navigation menu                */
.nav-pills {
    background-color: rgba(200, 200, 200, 0.2);
}

    .nav-pills > li + li {
        margin-left: 0;
    }

    .nav-pills > li > a {
        border: 0 !important;
        border-radius: 0;
        line-height: 18px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        min-width: 100px;
        text-align: center;
        color: #555555 !important;
    }

        .nav-pills > li.active > a,
        .nav-pills > li.active > a:hover,
        .nav-pills > li.active > a:focus,
        .nav-pills > li > a:hover,
        .nav-pills > li > a:focus {
            background-color: inherit;
        }

    .nav-pills > li i {
        display: block;
        font-size: 30px;
        padding: 15px 0;
    }

.popover, .tooltip-inner {
    color: #555555;
    line-height: 1.5em;
    background: #FFFFFF;
    border: none;
    border-radius: 3px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.popover {
    padding: 0;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

    .popover.left > .arrow, .popover.right > .arrow, .popover.top > .arrow, .popover.bottom > .arrow {
        border: none;
    }

.popover-title {
    background-color: #FFFFFF;
    border: none;
    padding: 15px 15px 5px;
    font-size: 1.3em;
}

.popover-content {
    padding: 10px 15px 15px;
    line-height: 1.4;
}

.tooltip.in {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
}

.tooltip {
    opacity: 0;
    transition: opacity, transform .2s ease;
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
}

    .tooltip.left .tooltip-arrow {
        border-left-color: #FFFFFF;
    }

    .tooltip.right .tooltip-arrow {
        border-right-color: #FFFFFF;
    }

    .tooltip.top .tooltip-arrow {
        border-top-color: #FFFFFF;
    }

    .tooltip.bottom .tooltip-arrow {
        border-bottom-color: #FFFFFF;
    }

.tooltip-inner {
    padding: 10px 15px;
    min-width: 130px;
}

.footer {
    position: relative;
    bottom: 20px;
    right: 0px;
    width: 100%;
    color: #FFFFFF;
    z-index: 4;
    text-align: right;
    margin-top: 60px;
    text-shadow: 0 0px 1px black;
}

    .footer a {
        color: #FFFFFF;
    }

    .footer .heart {
        color: #FF3B30;
    }

.withripple {
    position: relative;
}

.ripple-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;
}

.disabled .ripple-container {
    display: none;
}

.ripple {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.05);
    transform: scale(1);
    transform-origin: 50%;
    opacity: 0;
    pointer-events: none;
}

    .ripple.ripple-on {
        transition: opacity 0.15s ease-in 0s, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
        opacity: 0.1;
    }

    .ripple.ripple-out {
        transition: opacity 0.1s linear 0s !important;
        opacity: 0;
    }

.radio label {
    cursor: pointer;
    padding-left: 35px;
    position: relative;
    color: rgba(0,0,0, 0.26);
}

.form-group.is-focused .radio label {
    color: rgba(0,0,0, 0.26);
}

    .form-group.is-focused .radio label:hover, .form-group.is-focused .radio label:focus {
        color: rgba(0,0,0, .54);
    }

fieldset[disabled] .form-group.is-focused .radio label {
    color: rgba(0,0,0, 0.26);
}

.radio label span {
    display: block;
    position: absolute;
    left: 10px;
    top: 2px;
    transition-duration: 0.2s;
}

.radio label .circle {
    border: 1px solid rgba(0,0,0, .54);
    height: 15px;
    width: 15px;
    border-radius: 100%;
}

.radio label .check {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #9c27b0;
    transform: scale3d(0, 0, 0);
}

    .radio label .check:after {
        display: block;
        position: absolute;
        content: "";
        background-color: rgba(0,0,0, 0.87);
        left: -18px;
        top: -18px;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        z-index: 1;
        opacity: 0;
        margin: 0;
        transform: scale3d(1.5, 1.5, 1);
    }





@keyframes rippleOn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rippleOff {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

.checkbox label {
    cursor: pointer;
    padding-left: 0;
    color: rgba(0,0,0, 0.26);
}

.form-group.is-focused .checkbox label {
    color: rgba(0,0,0, 0.26);
}

    .form-group.is-focused .checkbox label:hover, .form-group.is-focused .checkbox label:focus {
        color: rgba(0,0,0, .54);
    }

fieldset[disabled] .form-group.is-focused .checkbox label {
    color: rgba(0,0,0, 0.26);
}



.checkbox .checkbox-material {
    vertical-align: middle;
    position: relative;
    top: 3px;
    padding-right: 5px;
}

    .checkbox .checkbox-material:before {
        display: block;
        position: absolute;
        left: 0;
        content: "";
        background-color: rgba(0, 0, 0, 0.84);
        height: 20px;
        width: 20px;
        border-radius: 100%;
        z-index: 1;
        opacity: 0;
        margin: 0;
        transform: scale3d(2.3, 2.3, 1);
    }

    .checkbox .checkbox-material .check {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid rgba(0,0,0, .54);
        overflow: hidden;
        z-index: 1;
        border-radius: 3px;
    }

        .checkbox .checkbox-material .check:before {
            position: absolute;
            content: "";
            transform: rotate(45deg);
            display: block;
            margin-top: -3px;
            margin-left: 7px;
            width: 0;
            height: 0;
            background: red;
            box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
            animation: checkbox-off 0.3s forwards;
        }





   


@keyframes checkbox-on {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
    }

    50% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
    }

    100% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    }
}

@keyframes rippleOn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rippleOff {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .main .container {
        margin-bottom: 50px;
    }
}

@media (min-width: 768px) {
    .navbar-form {
        margin-top: 21px;
        margin-bottom: 21px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
}




@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
















