<div class="row justify-content-center m-3">
    <div class="col-lg-10 col-sm-offset-2"> 
    
        <label>Pregunta {{indice+1}}</label>
        <div style="text-align: left; background-color: #F7F7F7">
            <hr/>
            <div class="container">
                <h5>
                    <label>Descripci&oacute;n pregunta</label><br/>
                    <input type="text" class="form-control"  id="txtNombrePregunta" v-model="descPregunta" >
                </h5>
            </div>
                
            <hr/>
        </div>
        
        
        <br>
        
        
        <div class="container">
            
    
            <label>
                A) <i>*Debe marcar una respuesta correcta</i>
            </label>
            <label class="radio">
                
                <input type="radio" id="radioA" name="radio_correcta"/>
                <span style="color: #0f0f0f">
                    <h4 style="text-transform: none"> <textarea type="text" style="width: 80%" class="form-control" v-model="respA"  id="txtRespuestaA>"></textarea></h4>
                </span>
            </label>
            <br/>
            <label>
                B) <i>*Debe marcar una respuesta correcta</i>
            </label>
            <label class="radio">
                
                <input type="radio" id="radioB" name="radio_correcta"/>
                <span style="color: #0f0f0f">
                    <h4 style="text-transform: none"> <textarea type="text" style="width: 80%" class="form-control" v-model="respB"  id="txtRespuestaB"></textarea></h4>
                </span>
            </label>
            <br/>
            <label>
                C) <i>*Debe marcar una respuesta correcta</i>
            </label>
            <label class="radio">
                
                <input type="radio" id="radioC" name="radio_correcta"/>
                <span style="color: #0f0f0f">
                    <h4 style="text-transform: none"> <textarea type="text" style="width: 80%" class="form-control" v-model="respC" id="txtRespuestaC"></textarea></h4>
                </span>
            </label>
            <br/>
            <label>
                D) <i>*Debe marcar una respuesta correcta</i>
            </label>
            <label class="radio">
                
                <input type="radio" id="radioD" name="radio_correcta"/>
                <span style="color: #0f0f0f">
                    <h4 style="text-transform: none"> <textarea type="text" style="width: 80%" class="form-control" v-model="respD"  id="txtRespuestaD"></textarea></h4>
                </span>
            </label>
            <br/>
            <label>
                E) <i>*Debe marcar una respuesta correcta</i>
            </label>
            <label class="radio">
                
                <input type="radio" id="radioE" name="radio_correcta"/>
                <span style="color: #0f0f0f">
                    <h4 style="text-transform: none"> <textarea type="text" style="width: 80%" class="form-control" v-model="respE" id="txtRespuestaE"></textarea></h4>
                </span>
            </label>
            <br/>
        </div>
        <br/>
        
            
        
    </div>
    
    
</div>
<br/>
<br/>
<div class="container col-lg-12">
    <div class="row">
        <br>
        <br>
        <div class="col-md-4">
            <button  v-if="indice !== 0" class="btn btn-primary btn-md" style="float: right;width: 75%" v-on:click="getPregAnterior">
                    <div>Volver</div>
                </button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-md" v-if="indice < 9" style="width: 75%" v-on:click="setPregunta">
                <div>Continuar</div>
            </button>
        </div>
        <div class="col-md-4">
            <button v-if="indice !== 0" class="btn btn-primary btn-md" style="float: left;width: 75%"  v-on:click="finalizar">
                <div>Guardar y Salir</div>
            </button>
        </div>

    </div>
</div>

