<div class="row justify-content-center m-3">
    <div class="col-lg-10 col-sm-offset-2"> 
    
        <label>Pregunta {{indice+1}}</label>
        <div style="text-align: left; background-color: #F7F7F7">
            <hr/>
            <div class="container">
                <h5>
                    <label>Descripci&oacute;n pregunta</label><br/>
                    <input type="text" class="form-control" name="txtNombrePregunta" v-model="descPregunta" >
                </h5>
            </div>
                
            <hr/>
        </div>
        
        <br>
        
        <label>
            A) <i>Respuesta Correcta: </i>
        </label>
        <label class="radio">
            
            <input type="radio" name="radio_correcta" id="radioA" :checked="radioValue === 'a'" >
            <input type="radio" v-else name="radio_correcta" id="radioA">
            <span style="color: #0f0f0f">
                <h4 style="text-transform: none"> <textarea type="text" style="width: 80%" class="form-control" v-model="respA" name="txtRespuestaA"></textarea></h4>
            </span>
        </label>
        
        
        <br/>
        <br/>
        <label>
            B) <i>Respuesta Correcta: </i>
        </label>
        <label class="radio">
            
            <input type="radio" name="radio_correcta" id="radioB" :checked="radioValue === 'b'" >
            <input type="radio" v-else name="radio_correcta" id="radioB">
            <span style="color: #0f0f0f">
                <h4 style="text-transform: none"> <textarea type="text" style="width: 80%" class="form-control" v-model="respB" name="txtRespuestaB"></textarea></h4>
            </span>
        </label>
        <br/>
        <br>
        <label>
            C) <i>Respuesta Correcta: </i>
        </label>
        <label class="radio">
            
            <input type="radio" name="radio_correcta" id="radioC" :checked="radioValue === 'c'" >
            <input type="radio" v-else name="radio_correcta" id="radioC">
            <span style="color: #0f0f0f">
                <h4 style="text-transform: none"> <textarea type="text" style="width: 80%" class="form-control" v-model="respC" name="txtRespuestaC"></textarea></h4>
            </span>
        </label>
        <br/>
        <br>
        <label>
            D) <i>Respuesta Correcta: </i>
        </label>
        <label class="radio">
            
            <input type="radio" name="radio_correcta" id="radioD" :checked="radioValue === 'd'" >
            <input type="radio" v-else name="radio_correcta" id="radioD">
            <span style="color: #0f0f0f">
                <h4 style="text-transform: none"> <textarea type="text" style="width: 80%" class="form-control" v-model="respD" name="txtRespuestaD"></textarea></h4>
            </span>
        </label>
        <br/>
        <br>
        <label>
            E) <i>Respuesta Correcta: </i>
        </label>
        <label class="radio">
            
            <input type="radio" name="radio_correcta" id="radioE" :checked="radioValue === 'e'" >
            <input type="radio" v-else name="radio_correcta" id="radioE">
            <span style="color: #0f0f0f">
                <h4 style="text-transform: none"> <textarea type="text" style="width: 80%" class="form-control" v-model="respE" name="txtRespuestaE"></textarea></h4>
            </span>
        </label>
        <br/>
        
            
        
    </div>
    
    
</div>
<br/>
<br/>
<div class="container col-sm-12">
    <div class="row">
        <br>
        <br>
        <div class="col-md-4">
            <button v-if="indice !== 0" class="btn btn-primary btn-md" style="float: right;width: 75%" v-on:click="getPregAnterior">
                <div>Volver</div>
            </button><br/><br/>
            <button class="btn btn-success btn-md" v-if="indice+1 === totalPreguntas && indice != 9" style="float: right;width: 75%" v-on:click="addPregunta">
                A&ntilde;adir 
            </button>
        </div>
        
        <div class="col-md-4">
            <button class="btn btn-primary btn-md" v-if="indice + 1 <= totalPreguntas && indice != 0 " style="width: 75%" v-on:click="finalizar">
                Finalizar
            </button><br/><br/>
            <button v-if="indice+1 < totalPreguntas" class="btn btn-primary btn-md" style="width: 75%" v-on:click="nextPregunta">
                <div>Continuar</div>
            </button><br/><br/>
        </div>
        
        <div class="col-md-4">
            <button class="btn btn-primary btn-md" v-if="indice >= totalPreguntas " style="float: left;width: 75%" v-on:click="guardaryFinalizar">
                Guardar y Finalizar
            </button><br/><br/>
            <button class="btn btn-primary btn-md" v-if="indice >= totalPreguntas && indice != 9" style="float: left;width: 75%" v-on:click="nextNuevaPregunta">
                <div>Continuar</div>
            </button>
        </div>
    </div>

    </div>



