
<div class="row justify-content-center m-3">
    <div class="col-lg-10 col-sm-offset-2"> 
        Ingrese nombre del test<br/>
        <hr/>
        <input type="text" class="form-control" v-model="nombreTest" id="nombreTest">
    </div>
</div>
<div class="container col-lg-8">
    <div class="row">
    <br>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4"><button class="btn btn-primary btn-md" style="float: right" id="btnSiguiente" v-on:click="setNuevoNombre">Continuar</button></div>
    </div>
</div>
