<div class="row justify-content-center m-3">
    <div class="col-lg-10 col-sm-offset-2"> 
    
        <label>Pregunta {{indice+1}} de {{totalPreguntas}}</label>
        <div style="text-align: left; background-color: #F7F7F7">
            <hr/>
            <div class="container">
                <h5 >{{pregunta.descripcion}}</h5>
            </div>
                
            <hr/>
        </div>
        
        
        <br>
        <label class="radio" v-if="pregunta.a !== ' '">
            <label>
                A)
            </label>
            <input type="radio" id="radioA" name="radio_grupo"/>
            <span style="color: #0f0f0f">
                <h4 style="text-transform: none"> {{pregunta.a}}</h4>
            </span>
        </label>
        <input type="hidden" v-else id="radioA" name="radio_grupo"/>
            <br/>
    
        <label class="radio" v-if="pregunta.b !== ' '">
            <label>
                B)
            </label>
            <input type="radio" id="radioB" name="radio_grupo"/>
            <span style="color: #0f0f0f">
                <h4 style="text-transform: none">{{pregunta.b}}</h4>
            </span>
        </label>
        <input type="hidden" v-else id="radioB" name="radio_grupo"/>
                    
            <br/>
        <label class="radio" v-if="pregunta.c !== ' '">
            <label>
                C)
            </label>
            <input type="radio" id="radioC" name="radio_grupo"/>
            <span style="color: #0f0f0f">
                <h4 style="text-transform: none"> {{pregunta.c}}</h4>
            </span>
        </label>    
            <input type="hidden" v-else id="radioC" name="radio_grupo"/>
            <br/>
        <label class="radio" v-if="pregunta.d !== ' '">
            <label>
                D)
            </label>
            <input type="radio" id="radioD" name="radio_grupo"/>
            <span style="color: #0f0f0f">
                <h4 style="text-transform: none"> {{pregunta.d}}</h4>
            </span>
        </label> 
            <input type="hidden" v-else id="radioD" name="radio_grupo"/>
            <br/>
        <label class="radio" v-if="pregunta.e !== ' '">
            <label>
                E)
            </label>
            <input type="radio" id="radioE" name="radio_grupo"/>
            <span style="color: #0f0f0f">
                <h4 style="text-transform: none">{{pregunta.e}}</h4>
            </span>
        </label> 
            <input type="hidden" v-else id="radioE" name="radio_grupo"/>
        
    </div>
    
    
</div>
<br/>
<br/>
<div class="container col-lg-8">
    <div class="row">
        <br>
        <br>
        <div class="col-md-4">
            <button v-if="indice !== 0" class="btn btn-secondary" id="btnAtras" v-on:click="getPreguntaAnterior">
                <div>Volver</div>
                <div></div>
            </button>
        </div>
        <div class="col-md-4"> </div>

        <div class="col-md-4">
            <button class="btn btn-primary btn-md" style="float: right" id="btnSiguiente" v-on:click="getOrPost">
                <div v-if="casiFinalizado === false">Continuar</div>
                <div v-else>Finalizar</div>
            </button>
        </div>

    </div>
</div>




 






























