<center>
    <i v-if="resultado.estado === 'Aprobado'" class="fa fa-check fa-2x mr-2" style="color: #00b0ff"></i>
    <i v-if="resultado.estado === 'Reprobado'" class="fa fa-times fa-2x mr-2" style="color: red"></i>
</center>
    <br/>
<div class="row">
    <div class="col-sm-2">
            
    </div>
    <div class="col-sm-8">
        <h4 v-if="resultado.estado === 'Aprobado'" style="color: #00b0ff">Estado de test: {{resultado.estado}}</h4>
        <h4 v-if="resultado.estado === 'Reprobado'" style="color: red">Estado de test: {{resultado.estado}}</h4>
        <h5>{{resultado.mensaje}}</h5>
        <h5>{{resultado.aprobacion}}</h5>

        <br/>
        <hr/>
        <div v-for="pregunta, i in misPreguntas">
            <div v-if="misRespuestas[i] === pregunta.correcta" style="color: green">
                <i class="fa fa-check fa-2x mr-2"></i> {{pregunta.descripcion}}<br/>
                    
            </div>
            <div v-else style="color: red">
                <i class="fa fa-times fa-2x mr-2"></i> {{pregunta.descripcion}}
            </div>
        </div>
        <hr/>
    </div>
    <div class="col-sm-2">
                    
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
                        
    </div>
    <div class="col-sm-8">
                        
    </div>
    <div class="col-sm-2">
        <input type="submit" v-on:click="volverSelecionarTest" class="btn btn-primary" value="Volver"/>
    </div>
</div>
    







