<div id="sidebar" class="sidebar">
            <div class="sidebar-header m-0 pt-0" style="border: 0px;">
                <img id="logo-foot" src="~/Content/esmax-banner-join.png" style="width: 100%; background-color: white;"/>
            </div>
            <a  href="@Url.Action("Index","Home")">
                <img id="logo" src="~/Content/esmax-logo-vertical.png" style=""/>
            </a>

            <div class="accordion" id="AccordionMenu" style="margin-top: -100px;">
                @* @if(Roles.) *@
                <a class="btn" href="@Url.Action("revisar", "Odts")">
                    <img src="~/Content/esmax-logo-min.png" style="font-size: 14px"/> ODT
                </a>
                
                    
                

                <a class="btn" href="@Url.Action("IngresarRsms", "RSMS")">
                    <img src="~/Content/esmax-logo-min.png"/> REPORTE SMS
                </a>

                <a class="btn" href="@Url.Action("ingresarCheckList", "CheckList")">
                    <img src="~/Content/esmax-logo-min.png"/> CHECK LIST
                </a>


                <a class="btn" href="@Url.Action("CrearRTA", "RTA")">
                    <img src="~/Content/esmax-logo-min.png"/> RTA
                </a>

                <a class="btn" href="@Url.Action("calendar","MplanAccion")">
                    <img src="~/Content/esmax-logo-min.png"/> PLAN DE ACCI&Oacute;N
                </a>
               


                <a class="btn" data-toggle="collapse" data-target="#COLLAPSE-KPIS" aria-expanded="false" aria-controls="COLLAPSE-KPIS">
                    <img src="~/Content/esmax-logo-min.png"/> KPIS
                </a>
                <div class="collapse" id="COLLAPSE-KPIS" data-parent="#AccordionMenu">
                    <a class="btn">
                        <img src="~/Content/esmax-logo-min.png"/> Ingresar KPIS
                    </a>
                    <a class="btn">
                        <img src="~/Content/esmax-logo-min.png"/> Revisar KPIS
                    </a>
                    <a class="btn">
                        <img src="~/Content/esmax-logo-min.png"/> Graficas KPIS
                    </a>
                </div>
                
                <a v-if="user.Rol==='Administrador'" class="btn" href="@Url.Action("Gestionar", "Admin")">
                    <img src="~/Content/esmax-logo-min.png"/> ADMINISTRADOR
                </a>
                
                <a class="btn" href="@Url.Action("Index", "Capacitacion")">
                                    <img src="~/Content/esmax-logo-min.png"/> CAPACITACIONES
                </a>
                
            </div>
        </div>