<meta charset="UTF-8"/>
<div class="tab-pane mt-3" id="antecedentes">
    <div class="row justify-content-center mt-5 ">
        <div class="col-lg-12">
            <div class="card-body ml-5">
                <div class="row ">
                    <div class="col-lg-2 mt-1 p-0 ml-4">Informante</div>
                    <div class="col-lg-7">
                        <input class="form-group form-control m-0 ml-0" id="obsv" v-model="observador" disabled/>
                    </div>
                    <div class="custom-control custom-switch col-lg-2 mt-2">
                        <input class="custom-control-input" type="checkbox" v-on:click="anonimo" id="anonimo" value="option1">
                        <label class="custom-control-label" for="anonimo">Anonimo</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-2 mt-1 p-0 ml-4">Holding</div>
                    <div class="col-lg-2">
                        <button v-on:click="GetHoldingId(1)" type="button" class="btn btn-outline-info btn-lg btn-block btn-sm" id="select1" >Esmax Dist.</button>
                    </div>
                    <div class="col-lg-2">
                        <button v-on:click="GetHoldingId(2)" type="button" class="btn btn-outline-info btn-lg btn-block btn-sm" id="select2" >Esmax Red</button>
                    </div>
                    <div class="col-lg-2">
                        <button v-on:click="GetHoldingId(3)" type="button" class="btn btn-outline-info btn-lg btn-block btn-sm" id="select3" >Esmax Ind.</button>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-2 mt-1 p-0 ml-4">&Aacute;rea de negocio</div>
                    <div class="col-lg-7">
                        <select v-on:change="GetNegocioId('negocio')" class="custom-select" disabled id="negocio" required>
                            <option id="negocio0">Seleccione un area de negocio...</option>
                            <option v-for="negocio in negocios" :id="negocio.negocio_id" v-if="negocio.holding_id===HoldingId">{{ negocio.negocio_nombre }}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-2 mt-1 p-0 ml-4">Gerencia</div>
                    <div class="col-lg-7 ">
                        <select v-on:change="GetGerenciaId('gerencia')" class="custom-select" id="gerencia" disabled>
                            <option id="gerencia0">Seleccione una gerencia...</option>
                            <option v-for="gerencia in gerencias" :id="gerencia.gerencia_id" v-if="gerencia.negocio_id === NegocioId">{{ gerencia.gerencia_nombre }}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-2 mt-1 p-0 ml-4">&Aacute;rea</div>
                    <div class="col-lg-7 ">
                        <select v-on:change="GetAreaId('area')"class="custom-select" id="area" disabled>
                            <option id="area0">Seleccione un area...</option>
                            <option v-for="area in areas" :id="area.area_id" v-if="area.gerencia_id === GerenciaId">{{ area.area_nombre }}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-2 mt-1 p-0 ml-4">Responsable</div>
                    <div class="col-lg-7">
                        <div class="form-group is-empty mt-0">
                            <input class="form-control" name="responsable" id="responsable" disabled/>
                        </div>
                    </div>
                </div>
                
                <div class="row mt-3" id="empressa">
                    <div class="col-lg-2 mt-1 p-0 ml-4">Empresa contratista</div>
                    <div class="col-lg-7 ">
                        <div class="form-group is-empty mt-0">
                            <input id="empresaid" type="text" class="form-control" v-on:change="GetEmpresaId" v-model="EmpresaId" required/>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-2 mt-1 p-0 ml-4">Fecha</div>
                    <div class="col-lg-7 ">
                        <input required id="fecharsms" v-model="GetFecha1" class="form-group form-control m-0"/>
                    </div>
                </div>
                <input class="d-none" name="informante" id="observador1" value=""/>
                <input class="d-none" name="anonimo" id="anonimo1" value=""/>
                <input class="d-none" name="fecharsms1" v-model="GetFecha1" id="fecharsms1"/>
                <input class="d-none" name="holding" id="holding1" value=""/>
                <input class="d-none" name="negocio" id="negocio1"/>
                <input class="d-none" name="gerencia" id="gerencia1"/>
                <input class="d-none" name="area" id="area1" />
                <input class="d-none" name="responsable1" id="responsable1"/>
                <input class="d-none" name="empresa" id="empresa1"/>
                <input class="d-none" name="contratista" id="contratista1"/>
                <input class="d-none" name="nombre_informante" id="nombre_informante1"/>
                <input class="d-none" name="holding_nombre" id="holding_nombre1"/>
                <input class="d-none" name="negocio_nombre" id="negocio_nombre1"/>
                <input class="d-none" name="gerencia_nombre" id="gerencia_nombre1"/>
                <input class="d-none" name="area_nombre" id="area_nombre1"/>
                <input class="d-none" name="observado_nombre" id="observado_nombre1"/>
            </div>
        </div>
    </div>
    <div class="wizard-footer p-2">
        <div class="float-right pr-2">
            <input type='button' v-on:click="datos" id="next0" disabled class='btn btn-next btn-fill btn-info btn-wd' name='next0' value='Siguiente'/>
        </div>
        <div class="float-left pl-2">
            <input type='button' class='btn btn-secondary btn-previous btn-fill' name='previous' value='Atras'/>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


