<meta charset="UTF-8"/>
<div class="tab-pane mt-3 " id="categorizacion" >
    <div class="row mt-5">
        <div class="col-12 p-0">
            <div class="card-body justify-content-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 pr-0 pl-0">
                            <p class="d-block mb-0">RSMS:</p>
                            <div class="btn-group mb-3  " data-toggle="buttons" id="tiposRsso">
                                <a id="1" class="next" v-on:click="nextcat(1)">
                                    <button class="btn btn-outline-info" id="seg" style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-shield-alt fa-2x mt-2"></i>
                                        <p style="font-size: small">Seguridad</p>
                                    </button>
                                </a>
                                <a id="2" class="next" v-on:click="nextcat(2)">
                                    <button class="btn btn-outline-info " id="med"style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-tree fa-2x mt-2"></i>
                                        <p style="font-size: small">Medio Ambiente</p></button>
                                </a>
                                <a id="3" class="next" v-on:click="nextcat(3)">
                                    <button class="btn btn-outline-info " id="sal"style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-medkit fa-2x mt-2"></i>
                                        <p style="font-size: small">Salud</p></button>
                                </a>
                                <i class="fa fa-arrow-right  sepIconarrow" style="margin-top: 12%; margin-right: 15px"></i>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 p-0">
                            <p class="d-block mb-0">Causal:</p>
                            <div class="btn-group mb-3 " data-toggle="buttons" id="causal">
    
                                <a id="4" class="next" v-on:click="insegura(4)">
                                    <button class="btn btn-outline-info st"  id="ain" style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-times-circle fa-2x mt-2"></i>
                                        <p class="mb-0" style="font-size: small">Acci&oacute;n insegura</p>
                                    </button>
                                </a>
                                <a id="5" class="next" v-on:click="insegura(5)">
                                    <button class="btn btn-outline-info st" id="cin" style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-exclamation-triangle fa-2x mt-2"></i>
                                        <p class="mb-0" style="font-size: small">Condici&oacute;n insegura</p></button>
                                </a>
                                <a id="6" class="next" v-on:click="Eventopositivo">
                                    <button  class="btn btn-outline-info" id="eve" style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-plus-circle fa-2x mt-2"></i>
                                        <p class="mb-0"style="font-size: small">Evento positivo</p></button>
                                </a>
                                <i class="fa fa-arrow-right  sepIconarrow" style="margin-top: 12%; margin-right: 15px"></i>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 p-0">
                            <p class="d-block mb-0">Nivel de criticidad:</p>
                            <div class="btn-group mb-3 " data-toggle="buttons" id="criticidad">
    
                                <a id="7" class="next" v-on:click="leve">
                                    <button class="btn btn-outline-info next"disabled id="lev" style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-angle-up fa-2x mt-2"></i>
                                        <p class=""style="font-size: small">Leve</p>
                                    </button>
                                </a>
                                <a id="8" class="next" v-on:click="moderado">
                                    <button class="btn btn-outline-info next"disabled id="mod" style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-angle-double-up fa-2x mt-2"></i>
                                        <p class=""style="font-size: small">Moderado</p></button>
                                </a>
                                <a id="9" class="next" v-on:click="inaceptable">
                                    <button class="btn btn-outline-info next "disabled id="ina" style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 96px; max-height: 95px; min-height: 90px;" ><i class="fa fa-exclamation-circle fa-2x mt-2"></i>
                                        <p class=""style="font-size: small">Inaceptable</p></button>
                                </a>
                            </div>
                        </div>
                        <input class="d-none" name="seguridad" id="seguridad" value="0"/>
                        <input class="d-none" name="medioambiente" id="medioambiente" value="0"/>
                        <input class="d-none" name="salud" id="salud" value="0"/>
                        <input class="d-none" name="ainsegura" id="ainsegura" value="0"/>
                        <input class="d-none" name="cinsegura" id="cinsegura" value="0"/>
                        <input class="d-none" name="evento" id="evento" value="0"/>
                        <input class="d-none" name="leve" id="leve" value="0"/>
                        <input class="d-none" name="moderado" id="moderado" value="0"/>
                        <input class="d-none" name="inaceptable" id="inaceptable" value="0"/>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wizard-footer p-2">
        <div class="float-right pr-2">
            <input type='button' class='btn btn-next btn-fill btn-info btn-wd' name='next' value='Siguiente' id="nextcat" disabled/>
        </div>
        <div class="float-left pl-2">
            <input type='button' class='btn btn-secondary btn-previous btn-fill' name='previous' value='Atras'/>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


