<meta charset="UTF-8"/>
<div class="tab-pane" id="etapa6" >
    <div class="row">
        <div class="col-12 p-0">
            <div class="card-body justify-content-center">
                <h4 class="text-center">&iquest;El plan para enfrentar la anomal&iacute;a result&oacute; eficaz o ineficaz?</h4>
                <div class="row mt-4" id="botones_eficacia">
                    <div class="col-lg-3 offset-5 p-0">
                        <button v-on:click="eficacia_botones('eficaz')" v-if="eficacia_fecha===1" type="button" class="btn btn-outline-success" id="eficaz">EFICAZ</button>
                        <button v-on:click="eficacia_botones('ineficaz')" type="button" class="btn btn-outline-danger ml-3" id="ineficaz">INEFICAZ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="ml-5 p-0  col-lg-3">Comentarios</div>
        <textarea class="col-lg-7 form-control p-0" v-model="comentario_cierre" id="comentarioo_cierre" rows="5" style="resize: both;" required></textarea>
    </div>
    
    
    
    
    
    
    <div class="wizard-footer p-2 mb-0">
        <div class="float-right pr-2 mt-5">
            <button type='button' disabled v-on:click="finalizar6" id="finalizar6" class='btn btn-fill btn-info btn-wd' name='finish' >Cerrar RTA</button>
        </div>
        <div class="float-left pl-2 mt-5">
            <button type='button' class='btn btn-secondary btn-previous btn-wd' name='previous'>Anterior</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>