<meta charset="UTF-8"/>
<div class="tab-pane" id="etapa5" >
    <div class="row">
        <div class="col-12 p-0">
            <div class="card-body justify-content-center">
                <div class="row mt-3" id="">
                    <div class="col-lg-3 mt-1 p-0 ml-5">Costos por parada ($)</div>
                    <div class="col-lg-7 p-0">
                        <div class="form-group is-empty mt-0">
                            <input v-on:change="volver_cero()" id="costos_parada" type="number" class="form-control" v-model="costos_parada" required/>
                        </div>
                    </div>
                </div>
                <div class="row mt-3" id="">
                    <div class="col-lg-3 mt-1 p-0 ml-5">Costos de acciones inmediatas ($)</div>
                    <div class="col-lg-7 p-0">
                        <div class="form-group is-empty mt-0">
                            <input v-on:change="volver_cero()" id="costos_acciones_inmediatas" type="number" class="form-control" v-model="Acciones_inmediatas_costos" required/>
                        </div>
                    </div>
                </div>
                <div class="row mt-3" id="">
                    <div class="col-lg-3 mt-1 p-0 ml-5">Costos de acciones correctivas ($)</div>
                    <div class="col-lg-7 p-0">
                        <div class="form-group is-empty mt-0">
                            <input v-on:change="volver_cero()" id="costos_acciones_correctivas" type="number" class="form-control" v-model="Acciones_correctivas_costos" required/>
                        </div>
                    </div>
                </div>
                <div class="row mt-3" id="">
                    <div class="col-lg-3 mt-1 p-0 ml-5">Costos de acciones preventivas ($)</div>
                    <div class="col-lg-7 p-0">
                        <div class="form-group is-empty mt-0">
                            <input v-on:change="volver_cero()" id="costos_acciones_preventivas" type="number" class="form-control" v-model="Acciones_preventivas_costos" required/>
                        </div>
                    </div>
                </div>
                <div class="row mt-3" id="">
                    <div class="col-lg-3 mt-1 p-0 ml-5">Otros tipos de costos ($)</div>
                    <div class="col-lg-7 p-0">
                        <div class="form-group is-empty mt-0">
                            <input v-on:change="volver_cero()" id="otros_costos" type="number" class="form-control" v-model="otros_costos" required/>
                        </div>
                    </div>
                </div>
                <div class="row mt-3" id="">
                    <div class="col-lg-3 mt-1 p-0 ml-5">Total de costos ($)</div>
                    <div class="col-lg-7 p-0">
                        <div class="form-group is-empty mt-0">
                            <input disabled id="total_costos" type="text" class="form-control" v-model="total_costos" required/>
                        </div>
                    </div>
                </div>
                <div class="row mt-3" id="">
                    <div class="col-lg-3 mt-1 p-0 ml-5">Plazo de verificaci&oacute;n</div>
                    <div class="col-lg-7 p-0">
                        <div class="form-group is-empty mt-0">
                            <input disabled id="plazov2" type="text" class="form-control d-none" v-model="plazo_verificacion" required/>
                            <select v-on:change="getPlazo_verificacion('plazov')" class="custom-select" id="plazov" required>
                                <option id="plazo0">Seleccionar Plazo de verificaci&oacute;n...</option>
                                <option id="3">3 d&iacute;as</option>
                                <option id="15">15 d&iacute;as</option>
                                <option id="30">30 d&iacute;as</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mt-3" id="responsable6_ver">
                    <div class="col-lg-3 mt-1 p-0 ml-5">Responsable de etapa 6 </div>
                    <div class="col-lg-7 p-0">
                        <div class="form-group is-empty mt-0">
                            <input disabled id="responsable_6" type="text" class="form-control d-none" v-model="nombre_responsable6" required/>
                            <input
                                list="observado"
                                v-on:change="GetResponsable6"
                                autocomplete="off"
                                required
                                id="res6"
                                name="observado"
                                class="form-group form-control m-0"
                                placeholder="Seleccione un responsable..."/>
                            <datalist id="responsable66">
                                <option class="align-items-start" v-for="user in users" :data-id="user.Id" :id="user.Id" :value="user.UserName"></option>
                            </datalist>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="wizard-footer p-2 mb-0">
        <div class="float-right pr-2 mt-5">
            <button v-on:click="finalizar5" type='button' disabled id="finalizar5" class='btn btn-fill btn-info btn-wd' name='finish' >Finalizar Etapa</button>
            <button type='button' class='btn btn-next btn-info btn-wd d-none' id="next5555"  name='next'  >Siguiente</button>
        </div>
        <div class="float-left pl-2 mt-5">
            <button type='button' class='btn btn-secondary btn-previous btn-wd' name='previous'>Anterior</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>